                    {% if formEducation.errors %}
                        <p style="color: red;">
                            Please correct the error{{ formEducation.errors|pluralize }} below.
                        </p>
                    {% endif %}

                    <form action="/education/add/" class="PTform" method="post" class="">
                        {% csrf_token %}
                        {% if education.pk %}
                            <input type="hidden" value="{{education.pk}}" name="id">
                        {% endif %}
                        <div class="form-content">
                            <label for="id_school">Établissement</label>
                            {{ formEducation.school }}
                            <div class="row">
                                <div class="half">
                                    <label for="id_start">Date de début</label>
                                    {{ formEducation.start }}
                                </div>
                                <div class="half">
                                    <label for="id_end">Date de fin</label>
                                    {{ formEducation.end }}
                                </div>
                            </div>
                            
                            <label for="id_title">Intitulé de la formation / Titre</label>
                            {{ formEducation.title }}
                            <label for="id_description">Description</label>
                            {{ formEducation.description }}
                        </div>
                        <input type="submit" class="PTbutton alignRight" value="Valider">
                    </form>