                <div class="education">
                    <span class="start"> {{ education.start }} -</span>
                    <span class="end"> {{ education.end }} </span>
                    <h3> {{ education.title }} </h3>
                    <h4> {{ education.school.name }} </h4>

                    <p> {{ education.description }} </p>
                    {% if user.id == education.owner.id %}
                            <a class="delete-item" href="/education/delete/{{education.id}}"><i class="ico-remove"></i></a>
                            <a class="edit-item" href="/education/edit/{{education.id}}"><i class="ico-pencil"></i></a>
                    {% endif %}
                    <div class="row edit-form">
                        <div class="sixcol"></div>
                    </div>
                </div>