                <div class="experience">
                    <span class="start"> {{ experience.start }} -</span>
                    <span class="end"> {{ experience.end }} </span>
                    <h3> {{ experience.title }} </h3>
                    <h4> {{ experience.company }} </h4>

                    <p> {{ experience.details }} </p>
                    <p> {{ experience.city }} </p>
                    {% if user.id == experience.owner.id %}
                            <a class="delete-item" href="/experience/delete/{{experience.id}}"><i class="ico-remove"></i></a>
                            <a class="edit-item" href="/experience/edit/{{experience.id}}"><i class="ico-pencil"></i></a>
                    {% endif %}
                    <div class="row edit-form">
                        <div class="sixcol"></div>
                    </div>
                </div>