                <div class="experience" id="exp-{{experience.pk}}">
                    <div class="formation-date">
                        <span class="start"> {{ experience.start }} -</span>
                        <span class="end"> {{ experience.end }} </span>
                    </div>

                    <div class="formation-content">
                        <h3> {{ experience.title }} </h3>
                        {% if experience.company_profile %}
                            <h4> {{ experience.company_profile.name }} </h4>
                        {% else %}
                            <h4> {{ experience.company }} </h4>
                        {% endif %}

                        <p> {{ experience.details }} </p>
                        <p> {{ experience.city }} </p>
                    </div>
                    {% if user.id == experience.owner.id %}
                            <a class="delete-item" href="/experience/delete/{{experience.id}}"><i class="ico-remove"></i></a>
                            <a class="edit-item" href="/experience/edit/{{experience.id}}" role="button" data-target="#exp-edit-{{experience.pk}}" data-toggle="modal"><i class="ico-pencil"></i></a>
                    {% endif %}
                    <div class="modal edit-form hide" role="dialog" id="exp-edit-{{experience.pk}}">
                        <h3>Modifier la formation</h3>
                    </div>
                </div>