{% extends "layout/base.html" %}
{% load staticfiles %}
{% load projects %}

{% block title %} {{ profile.slug }}'s profile{% endblock %}

{% block content %}
    <form action="/profile/edit/" method="post">
        {% csrf_token %}
        {{ form_user.errors }}
        <div class="row">
            {{ form_user.as_p}}
        </div>

        <div class="row">
            {{ form_social.as_p}}
        </div>

        {{ form_applicant.errors }}

        <div class="row">
            {{ form_applicant.as_p }}
        </div>
        <input type="submit">
    </form>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){

    });
</script>
{% endblock %}