{% extends "layout/base.html" %}
{% load staticfiles %}
{% load projects %}

{% block title %} {{ profile.slug }}'s profile{% endblock %}

{% block content %}
    <form action="/profile/edit/" method="post">
        {% csrf_token %}
        {{ form_user.errors }}
        {{ form_user.as_p}}

        {{ form_applicant.errors }}
        {{ form_applicant.as_p }}
        <input type="submit">
    </form>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){

    });
</script>
{% endblock %}