{% extends "layout/base.html" %}
{% load staticfiles %}
{% load projects %}

{% block title %} {{ profile.slug }}'s profile{% endblock %}

{% block content %}
    {% if profile %}
        <section class="row profile">
            <div class="sleekbox">
                <div class="profile_cover">
                    <img src="{% static "img/profile_cover.jpg" %}" alt="Cover image">
                    <div class="profile_cover_infobar row">

                        <h1 id="name" class="blackTitle">{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>

                        {% if profile.user.id != request.user.id %}
                            {% if following %}
                                 <a class="PTbutton following follow" href="/profile/unfollow/{{profile.id}}/">Suivi</a>
                            {%else%}
                                 <a class="PTbutton not-following follow" href="/profile/follow/{{profile.id}}/">Suivre</a>
                            {% endif %}


                        {% endif %}

                        <ul class="fourcol last profile_stats">
                            <li><span>2316</span>vues</li>
                            <li><span>{% if pushs == 0 %}0{%else%}{{pushs}}{%endif%}</span>push</li>
                            <li><span>23</span>followers</li>
                            <li><span>9</span>following</li>
                        </ul>
                    </div>
                </div>
                <div class="profile_secondbar">
                    <ul>
                        <li><i class="icon pin"></i> {{ profile.search_location }}</li>
                        <li><i class="icon job"></i> {{ profile.profession }}</li>
                        <li class="last"><a href="{{ profile.url }}" target="_blank" title=""><i class="icon web"></i> {{ profile.url }}</a></li>
                        <li class="last"><a href="#" title=""><i class="icon twitter"></i> @hPoulpe</a></li>
                    </ul>
                </div>
                <img class="profile_pic" src="{{ profile.avatar.url }}" alt="">
            </div>

            <div class="row profile_menubar">
                    <ul class="profile_menu fourcol tabs">
                        <li><a href="#projects" class="active">Projets</a></li>
                        <li><a href="#infos_profile">Parcours</a></li>
                    </ul>
                    <ul class="tags">
                        <li>photoshop</li>
                        <li>php</li>
                        <li>html5</li>
                        <li>django</li>
                    </ul>
                </div>
        </section>


        <!-- TODO : Template Project -->
        {% if projects %}
        <section class="row projects" id="projects">
            {% for project in projects %}
                {% project_mini project forloop.counter|divisibleby:"4" "threecol" %}
            {% endfor %}
        </section>
        {% endif %}

        <section class="row" id="infos_profile">
        {% if profile.education %}
            <h1>Formation</h1>
            {% for education in profile.education.all %}
                <div class="education">
                    <span class="start"> {{ education.start }} -</span>
                    <span class="end"> {{ education.end }} </span>
                    <h3> {{ education.title }} </h3>
                    <h4> {{ education.school.name }} </h4>

                    <p> {{ education.description }} </p>
                    {% if user.id == education.owner.id %}
                            <a class="delete-item" href="/education/delete/{{education.id}}">X</a>
                    {% endif %}
                </div>
            {% endfor %}
            {% if user.id == profile.id %}
            <a href="#" id="add-education">Ajouter une formation</a>
            <div id="add-education-form">
                {% if formEducation.errors %}
                    <p style="color: red;">
                        Please correct the error{{ formEducation.errors|pluralize }} below.
                    </p>
                {% endif %}

                <form action="/education/add/" method="post">
                    {% csrf_token %}
                    {{ formEducation.as_p }}
                    <input type="submit" value="Submit">
                </form>
            </div>
            {% endif %}
        {% endif %}

        {% if profile.experience %}
            <h1>Experiences</h1>
            {% for experience in profile.experience.all %}
                <div class="experience">
                    <span class="start"> {{ experience.start }} -</span>
                    <span class="end"> {{ experience.end }} </span>
                    <h3> {{ experience.title }} </h3>
                    <h4> {{ experience.company.name }} </h4>

                    <p> {{ experience.details }} </p>
                    <p> {{ experience.city }} </p>
                    {% if user.id == experience.owner.id %}
                            <a class="delete-item" href="/experience/delete/{{experience.id}}">X</a>
                    {% endif %}
                </div>
            {% endfor %}
            {% if user.id == profile.id %}
            <a href="#" id="add-experience">Ajouter une formation</a>
            <div id="add-experience-form">
                {% if formExperience.errors %}
                    <p style="color: red;">
                        Please correct the error{{ formExperience.errors|pluralize }} below.
                    </p>
                {% endif %}

                <form action="/experience/add/" method="post">
                    {% csrf_token %}
                    {{ formExperience.as_p }}
                    <input type="submit" value="Submit">
                </form>
            </div>
            {% endif %}
        {% endif %}
        </section>

    {% else %}
        <h1> Profile unfound. <h1>
    {% endif %}
{% endblock %}

{% block js %}
<script>
    $().ready(function(){

        $(".follow").click(function(){
            var follow_button = this;
            $.post($(this).attr('href'),function(data){
                if(data==true)
                    if($(follow_button).hasClass('not-following')){
                        var link = $(follow_button).attr('href').replace('follow','unfollow');
                        $(follow_button).attr('href',link)
                        $(follow_button).removeClass('not-following');
                        $(follow_button).addClass('following');
                        $(follow_button).html("Suivi");
                    }else{
                        var link = $(follow_button).attr('href').replace('unfollow','follow');
                        $(follow_button).attr('href',link)
                        $(follow_button).addClass('not-following');
                        $(follow_button).removeClass('following');
                        $(follow_button).html("Suivre");
                    }
            });
            return false;
        });

        $(".delete-item").click(function(e){
            var parent = $(this).parent();
            $.post($(this).attr('href'),function(data){
                $(parent).fadeOut(function(){
                    $(this).remove();
                });
            });
            return false;
        });

        $("#add-education").click(function(e){            
            $("#add-education-form").slideToggle();
            e.preventDefault();
        });

        $("#add-experience").click(function(e){            
            $("#add-experience-form").slideToggle();
            e.preventDefault();
        });

        $("#add-education-form form").submit(function(e){
            e.preventDefault();
            var data = $(this).serialize();
            var cur = $(this);     
            $.post($(this).attr("action"),data).done(function(data){
                if(data[0]==true){
                    cur.each(function(){this.reset()});
                    edu = data[1];
                    var $element = $(".education:last").clone().find(".start").html(edu.start).parent()
                                            .find(".end").html(edu.end).parent()
                                            .find("h3").html(edu.title).parent()
                                            .find("h4").html(edu.school).parent()
                                            .find("p").html(edu.description).parent()
                                            .insertAfter(".education:last");
                    
                }else if(data[0]==false){
                    // var response = data[1];
                    // console.log(response);
                    // $(response).each(function(i,cur){
                    //     console.log(cur);
                    // });
                }
            });
        });

        $("#add-experience-form form").submit(function(e){
            e.preventDefault();
            var data = $(this).serialize();
            var cur = $(this);            
            $.post($(this).attr("action"),data).done(function(data){
                if(data[0]==true){
                    cur.each(function(){this.reset()});
                    edu = data[1];
                    var $element = $(".experience:last").clone().find(".start").html(edu.start).parent()
                                            .find(".end").html(edu.end).parent()
                                            .find("h3").html(edu.title).parent()
                                            .find("h4").html(edu.school).parent()
                                            .find("p").html(edu.description).parent()
                                            .insertAfter(".experience:last");
                }   
            });
        });





        
        // $(".following").hover(function(){
        //     $(this).html("Ne plus suivre");
        // }, function(){
        //     $(this).html("Suivre");
        // }
        // );
    });
</script>
{% endblock %}