{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %} {{ profile.slug }}'s profile{% endblock %}

{% block content %}
    {% if profile %}
        <section class="row profile">
            <div class="sleekbox">
                <div class="profile_cover">
                    <img src="{% static "img/profile_cover.jpg" %}" alt="Cover image">
                    <div class="profile_cover_infobar row">
                        <h1 id="name">{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>

                        {% if profile.user.id != request.user.id %}
                            {% if following %}
                                 <a class="PTbutton following follow" href="/profile/unfollow/{{profile.id}}/">Suivi</a>
                            {%else%}
                                 <a class="PTbutton not-following follow" href="/profile/follow/{{profile.id}}/">Suivre</a>
                            {% endif %}


                        {% endif %}

                        <ul class="fourcol last profile_stats">
                            <li><span>2316</span>vues</li>
                            <li><span>{{ pushs }}</span>push</li>
                            <li><span>23</span>followers</li>
                            <li><span>9</span>following</li>
                        </ul>
                    </div>
                </div>
                <div class="profile_secondbar">

                        <ul>
                            <li><i class="icon pin"></i> {{ profile.search_location }}</li>
                            <li><i class="icon job"></i> {{ profile.profession }}</li>
                            <li class="last"><a href="#" title=""><i class="icon web"></i> {{ profile.url }}</a></li>
                            <li class="last"><a href="#" title=""><i class="icon twitter"></i> @hPoulpe</a></li>
                        </ul>
                    </div>
                <img class="profile_pic" src="{{ profile.avatar.url }}" alt="">
            </div>

            <div class="row profile_menubar">
                    <ul class="profile_menu fourcol tabs">
                        <li><a href="#projects" class="active">Projets</a></li>
                        <li><a href="#infos">Parcours</a></li>

                    </ul>
                    <ul class="tags">
                        <li>photoshop</li>
                        <li>php</li>
                        <li>html5</li>
                        <li>django</li>
                    </ul>
                </div>
        </section>


        <!-- TODO : Template Project -->
        {% if projects %}
        <section class="row projects" id="projects">
            {% for project in projects %}
            <div class="thumb threecol">
                <a href="/project/{{ project.slug }}/">
                    <img src="{% static "img/thumb1.jpg" %}" alt="" />
                    <div class="project_infos">
                        <div class="project_views"><span class="label_views"></span>{{ project.view }}</div>
                        <div class="project_pushs"><span class="label_pushs"></span>150</div>
                    </div>
                    <h3>{{ project.title }}</h3>
                </a>
            </div>
            {% endfor %}
        </section>
        {% endif %}

        <section class="row" id="infos">
        {% if profile.educations %}
            <h1>Formation</h1>
            {% for education in profile.educations.all %}
                <div class="education">
                    <span class="start"> {{ education.start }} </span>
                    <span class="end"> {{ education.end }} </span>
                    <h3> {{ education.title }} </h3>
                    <h4> {{ education.school.name }} </h4>

                    <p> {{ education.description }} </p>
                </div>
            {% endfor %}
        {% endif %}

        {% if profile.experiences %}
            <h1>Experiences</h1>
            {% for experience in profile.experiences.all %}
                <div class="experience">
                    <span class="start"> {{ expericence.start }} </span>
                    <span class="end"> {{ expericence.end }} </span>
                    <h3> {{ experience.title }} </h3>
                    <h4> {{ experience.company.name }} </h4>

                    <p> {{ experience.details }} </p>
                    <p> {{ experience.city }} </p>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        </section>

    {% else %}
        <h1> Profile unfound. <h1>
    {% endif %}
{% endblock %}

{% block js %}
<script>
    $().ready(function(){

        $(".follow").click(function(){
            var follow_button = this;
            $.post($(this).attr('href'),function(data){
                if(data==true)
                    if($(follow_button).hasClass('not-following')){
                        var link = $(follow_button).attr('href').replace('follow','unfollow');
                        $(follow_button).attr('href',link)
                        $(follow_button).removeClass('not-following');
                        $(follow_button).addClass('following');
                        $(follow_button).html("Suivi");
                    }else{
                        var link = $(follow_button).attr('href').replace('unfollow','follow');
                        $(follow_button).attr('href',link)
                        $(follow_button).addClass('not-following');
                        $(follow_button).removeClass('following');
                        $(follow_button).html("Suivre");
                    }
            });
            return false;
        });


        
        // $(".following").hover(function(){
        //     $(this).html("Ne plus suivre");
        // }, function(){
        //     $(this).html("Suivre");
        // }
        // );
    });
</script>
{% endblock %}