{% extends "layout/base.html" %}
{% load staticfiles %}
{% load projects %}
{% load thumbnail %}

{% block title %}Mon tableau de bord{% endblock %}

{% block content %}
	<section id="dashboard">
		<section class="row">
			<h1>Bonjour, {{profile.user.first_name}}</h1>
		</section>
		<section class="row">
			<!-- Réseau -->
			<div class="ninecol offers">
				<section class="row">
					<div class="sixcol">
						<h4 class="blacksub">Candidatures <a href="/dashboard/notifications/">Voir plus</a></h4>
						{% if applications %}
							<ul>
								{% for app in applications %}
								<li>
									<strong>{{ app.offer.title }}</strong><a href="/profile/company/{{ app.offer.company.slug }}">{{ app.offer.company.name }}</a>, {{ app.offer.location }}
									{% if app.state == 'POST' %}
										<a class="offer waiting" alt="En attente">
											<i class="ico-time"></i>
										</a>
									{% elif app.state == 'FAIL'%}
										<a class="offer declined" alt="Refusée">
											<i class="ico-ban-circle"></i>
										</a>
									{% elif app.state == 'SAVE'%}
										<a class="offer valid" alt="Retenue">
											<i class="ico-ok"></i>
										</a>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
						{% else %}
							<p>Vous n'avez pas encore envoyé de candidatures.</p>
						{% endif %}
					</div>
					<div class="sixcol last">
						<h4 class="blacksub">Offres suggérées <a href="/offers/">Voir plus</a></h4>
						<ul>
							<li>
								<strong>Ingénieur développement .NET / JavaScript / Azure - H/F</strong>
								<a href="#">Nike France</a>, Paris (75)
								<span class="timesince">3 jours</span>
							</li>
						</ul>
					</div>
				</section>
				<section class="row projects">
					<h4 class="blacksub">Projets de mes relations <a href="/projects/">Voir plus</a></h4>
					{% if projects %}
					    {% for project in projects %}
					        {% project_mini project forloop.counter|divisibleby:"3" request.user.id %}
					    {% endfor %}
				    {% else %}
				    	<p>Vos relations n'ont pas encore publié de projets</p>
			    	{% endif %}
				</section>
			</div>

			<div class="threecol last sidebar">
				<a href="/project/add/" class="PTbutton">Ajouter un projet</a>
				<h2>Mes stats</h2>
				<ul class="stats">
		            <li><span>{{stats.views.hits}}</span><i class="ico-eye-open"></i></li>
		            <li>
		                <span>
		                    {% if stats.pushs == 0 %}
		                        0
		                    {%else%}
		                        {{stats.pushs}}
		                    {%endif%}
		                </span>
		                <i class="icon push"></i>
		            </li>
		            <li class="last">
		                <span>
		                    {% if stats.comments == 0 %}
		                        0
		                    {%else%}
		                        {{stats.comments}}
		                    {%endif%}
		                </span>
		               	<i class="ico-comment"></i>
		            </li>
		        </ul>
		        <h2>Réseau</h2>
				<ul class="notifications">
					<span class="nb_notifications">
						Vous avez <strong>{{ unread_nb|pprint }}</strong> notification{{ unread_nb|pluralize }} non-lue{{ unread_nb|pluralize }}.
					</span>
					{% if notifications%}
						{% for notice in notifications %}
							{% include 'notifications/notice.html' %}
						{% endfor %}
					{% else %}
					<p>Vous n'avez pas encore de notifications pour le moment.</p>
					{% endif %}
				</ul>
			</div>
			
		</section>
	</section>
{% endblock %}
{% block js %}
	<script type="text/javascript">
	$(document).ready(function(){
		$.post('/notifications/mark_as_read/');
	});
	</script>
{% endblock %}