{% extends "layout/base.html" %}
{% load staticfiles %}
{% load projects %}
{% load thumbnail %}
{% load notifications_tags %}

{% block title %}Centre de notifications{% endblock %}

{% block content %}
	<section class="row" id="notification_center">

		<div class="fourcol offers">
			<h1>Vos candidatures</h1>	
			{% if applications %}
				<ul>
					{% for app in applications %}
					<li>
						<strong>{{ app.offer.title }}</strong><a href="/profile/company/{{ app.offer.company.slug }}">{{ app.offer.company.name }}</a>, {{ app.offer.location }}
						{% if app.state == 'POST' %}
							<a class="offer waiting" alt="En attente">
								<i class="ico-time"></i>
							</a>
						{% elif app.state == 'FAIL'%}
							<a class="offer declined" alt="Refusée">
								<i class="ico-ban-circle"></i>
							</a>
						{% elif app.state == 'SAVE'%}
							<a class="offer valid" alt="Retenue">
								<i class="ico-ok"></i>
							</a>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>Vous n'avez pas encore envoyé de candidatures. <br><br><a href="/offers/" class="PTbutton alignCenter">Voir les offres</a></p>
			{% endif %}
		</div>

		<div class="sevencol last">
			<h1>Activité du réseau</h1>	
			{% notifications_unread as unread_count %}
			<ul class="notifications">
				{% if notifications %}
					{% for notice in notifications %}
						{# {{ notice.timestamp }} #}
						{% include 'notifications/notice.html' %}
					{% endfor %}
				{% else %}
					<p>Vous n'avez pas encore de notifications pour le moment.</p>
				{% endif %}
			</ul>
		</div>

		


	</section>
{% endblock %}