{% block content %}


{% if form.errors %}
	<p class="error">Please correct the errors below:</p>
{% endif %}

<form class="PTform form-connexion" method="post" action="?next={{ next|default:"/" }}">
	{% csrf_token %}	

    <h1 class="heading heading-lp">Connexion</h1>


    <label for="id_username">Email</label>
    {% if form.username.errors %} 
    	<span class="error">{{ form.username.errors|join:", " }}</span>
    {% endif %}
	{{ form.username }}


	<label for="id_password">Mot de passe</label>
	{% if form.password.errors %} 
		<span class="error">{{ form.password.errors|join:", " }}</span>
	{% endif %}
	{{ form.password }}

	<input class="PTbutton button-landingPage" type="submit" name="" value="Se connecter">  

	<input type="checkbox" name="" value="">Rester connecté
	<p><a href="#">Mot de passe oublié</a></p>

</form>

{% endblock %}

<!--
{% block content-related %}
<p>If you don't have an account, you can <a href="/accounts/register/">sign up</a> for one.
{% endblock %}
-->