{% extends "layout/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% load staticfiles %}
{% block content %}
<section class="row">
    <div class="sleekbox">
      <div class="content">
        <h1 class="heading">{% trans 'Password change' %}</h1>
        <div class="row" >
            <div class="sixcol illustration">
                <img src="{% static "img/propulsez-vous.png" %}" title="propulsez-vous" />
            </div>
            <div class="sixcol last">
            	<h2>{% trans 'Password change successful' %}</h2>

				<p>{% trans 'Your password was changed.' %}</p>

				<a href="/profile/">Retour au profil</a>
        	</div>
        </div>
      </div>
  </div>
</section>
{% endblock %}

{% block content-related %}

{% endblock %}