{% extends "layout/base.html" %}

{% block title %} Ajouter une offre {% endblock %}
{% block content %}

    <div class="row">

        <h1>Ajouter une offre</h1>
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/nicEdit.js" type="text/javascript"></script>
    <script type="text/javascript">

    bkLib.onDomLoaded(function() {
        new nicEditor({buttonList : ['bold','italic','underline','fontSize','strikeThrough', 'link', 'ul', 'html','image']}).panelInstance('id_content');
    });
    
    </script>
{% endblock %}