{% extends "layout/base.html" %}

{% block title %} {{ slug }} {% endblock %}

{% block content %}

<head>
    {{ form.media }}
</head>
    
    <section class="row add_project">
        <div class="sleekbox">
            <div class="content">
                {% if model == 'add' %}
                    <h1 class="heading">Ajouter une offre</h1>
                {% else %}
                    <h1 class="heading">Modifier votre offre</h1>
                {% endif %}
                {% if form.errors %}
                    <p style="color: red;">
                        Please correct the error{{ form.errors|pluralize }} below.
                    </p>
                {% endif %}

                <div class="row">
                    <div class="sixcol">
                        <form class="PTform edit-offer" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div>
                                <label for="">{{form.title.label}}</label>{{ form.title }}
                                {{ form.title.errors }}
                            </div>
                            <div>
                                <label for="">{{form.location.label}}</label>{{form.location}}
                                {{ form.location.errors }}
                            </div>
                            <div>
                                <label for="">{{form.start.label}}</label>{{form.start}}
                                {{ form.start.errors }}
                            </div>
                            <div>
                                <label for="">{{form.duration.label}}</label>{{form.duration}}
                                {{ form.duration.errors }}
                                <p class="comments">Exemple : 6 mois, ..</p>
                            </div>
                            <div>
                                <label for="">{{form.contract.label}}</label>{{form.contract}}
                                {{ form.contract.errors }}
                            </div>
                            <div>
                                <label for="">{{form.salary.label}}</label>{{form.salary}}
                                {{ form.salary.errors }}
                            </div>
                            <div>
                                <label for="">{{form.content.label}}</label>{{form.content}}
                                {{ form.content.errors }}
                            </div>
                            <div>
                                <label for="">{{form.tags.label}}</label>{{ form.tags }}
                                {{ form.tags.errors }}
                            </div>
                            <div>
                                <label for="">{{form.reference.label}}</label>{{ form.reference }}
                                {{ form.refenence.errors }}
                            </div>
                            <div>
                                <label for="">{{form.category.label}}</label>{{ form.category }}
                                {{ form.category.errors }}
                            </div>
                            <input class="PTbutton" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block js %}
<script>

    tinyMCE.init({
        removeformat_selector : 'style,script,img,html,iframe'

        /*onvert_newlines_to_brs : true,
        fix_list_elements : true,
        protect: [
            /\<\/?(if|endif)\>/g, // Protect <if> & </endif>
            /\<xsl\:[^>]+\>/g, // Protect <xsl:...>
            /<\?php.*?\?>/g // Protect php code
        ],
        valid_elements : "em/i,strike,u,strong/b,div[align],br,#p[align],-ol[type|compact],-ul[type|compact],-li"*/
    });


    $(document).ready(function(){

        $('.edit-offer').submit(function() {

            /*var tmp = document.createElement("p");
            tmp.innerHTML = $("#id_content");
            $("#id_content") = tmp.textContent||tmp.innerText;*/

            //var content = $("#id_content").html();
            //console.log($("#id_content").text());
            //alert("knckjwnkcjnkj");
        });

    });
</script>
{% endblock %}