{% extends "layout/base.html" %}
{% load thumbnail %}

{% block title %}  {% endblock %}

{% block content %}

<head>
    {{ form.media }}
</head>

<a href="/offer/posted_offers">Voir toutes mes offres postées</a>

    <section class="row add_project">
        <div class="sleekbox">
            <div class="content">
                {% if model == 'add' %}
                    <h1 class="heading">Ajouter une offre</h1>
                {% else %}
                    <h1 class="heading">Modifier votre offre</h1>
                {% endif %}
                {% if form.errors %}
                    <p style="color: red;">
                        Corrigez les champs erronés suivants: {{ form.errors|pluralize }} below.
                    </p>
                {% endif %}

                <div class="row">
                    <div class="sixcol">
                        <form class="PTform edit-offer" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div>
                                <label for="">Intitulé de l'offre *</label>
                                <span class="annotation">Eviter les termes "recherche", "recrute", la localisation ou le type de contrat qui seront renseignés ci-dessous.</span>
                                {{ form.title }}
                                {{ form.title.errors }}
                            </div>
                            <div>
                                <label for="">Location *</label>
                                <span class="annotation">Exemple : Paris, Paris(75), ...</span>
                                {{form.location}}
                                {{ form.location.errors }}
                            </div>
                            <div>
                                <label for="">Début de l'offre</label>
                                <span class="annotation">Poste à pourvoir à une date précise ?</span>
                                {{form.start}}
                                {{ form.start.errors }}
                            </div>
                            <div>
                                <label for="">Durée de la mission</label>
                                <span class="annotation">Saisissez un nombre entier, par exemple : 6 mois.</span>
                                {{form.duration}}
                                {{ form.duration.errors }}
                            </div>
                            <div>
                                <label for="">Type de contrat</label>{{form.contract}}
                                {{ form.contract.errors }}
                            </div>
                            <div>
                                <label for="">Salaire</label>
                                <span class="annotation">Saisissez un nombre entier (par mois et en euros).</span>
                                {{form.salary}}
                                {{ form.salary.errors }}
                            </div>
                            <div>
                                <label for="">Description du poste *</label>
                                <span class="annotation">Fournissez un maximum d'informations comme le type de la mission, les compétences requises, ...
                                    (Pas de HTML)</span>
                                {{form.content}}
                                {{ form.content.errors }}
                            </div>
                            <div>
                                <label for="">Tags</label>
                                <span class="annotation">Ajoutez des 5 tags maximums, pertinents pour rendre votre offre plus facile à trouver. Veuillez séparer vos tags par des virgules.</span>
                                {{ form.tags }}
                                <p class="comments">Exemple : </p>
                                <ul class="tags">
                                    <li>Photoshop</li>
                                    <li>Ruby on Rails</li>
                                    <li>SEO</li>
                                </ul>
                                {{ form.tags.errors }}
                            </div>
                            <div>
                                <label for="">Référence interne</label>{{ form.reference }}
                                <span class="annotation">Exemple : PHO7457.</span>
                                {{ form.refenence.errors }}
                            </div>
                            <div>
                                <label for="">Catégorie</label>{{ form.category }}
                                {{ form.category.errors }}
                            </div>
                            {% if model == 'edit' %}
                                <input class="PTbutton" type="submit" value="Publier mon offre">
                            {% else %}
                                <input class="PTbutton" type="submit" name="_publish" value="Publier mon offre">
                                <input class="PTbutton" type="submit" name="_preview" value="Visualiser mon offre">
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block js %}
<script>

    tinyMCE.init({
        removeformat_selector : 'style,script,img,html,iframe'
    });

</script>
{% endblock %}