{% extends "layout/base.html" %}
{% load thumbnail %}

{% block title %} {{ slug }} {% endblock %}

{% block content %}

<head>
    {{ form.media }}
</head>

{% if model == 'edit' %}
    <section class="row">
        <div class="sleekbox">
            <div class="content">
                <h1 class="heading">Candidats qui ont postulés</h1>
                {% if applicantsOffer %}
                    <ul>
                    {% for applicantOffer in applicantsOffer %}
                        <li>
                            {% thumbnail applicantOffer.applicant.avatar "50x50" crop="left" as im %}
                                <a href="/profile/{{ applicantOffer.applicant.slug }}" data-tooltip="{{ applicantOffer.applicant.user}}" class="tooltip">
                                <img src="{{im.url}}" alt="{{ applicantOffer.applicant.name }}"/>
                                </a>
                            {% endthumbnail %}
                            <p>{{ applicantOffer.applicant }}</p>
                            <a id="view-candidature" href="/offer/statusApplication/read/{{applicantOffer.offer_id}}/{{applicantOffer.applicant.slug}}">Voir la candidature</a>
                            <div class="content-application">

                                <p>{{ applicantOffer.content }}</p>

                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucune candidature</p>
                {% endif %}
            </div>
        </div>

    </section>

{% endif %}
    
    <section class="row add_project">
        <div class="sleekbox">
            <div class="content">
                {% if model == 'add' %}
                    <h1 class="heading">Ajouter une offre</h1>
                {% else %}
                    <h1 class="heading">Modifier votre offre</h1>
                {% endif %}
                {% if form.errors %}
                    <p style="color: red;">
                        Please correct the error{{ form.errors|pluralize }} below.
                    </p>
                {% endif %}

                <div class="row">
                    <div class="sixcol">
                        <form class="PTform edit-offer" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div>
                                <label for="">{{form.title.label}}</label>{{ form.title }}
                                {{ form.title.errors }}
                            </div>
                            <div>
                                <label for="">{{form.location.label}}</label>{{form.location}}
                                {{ form.location.errors }}
                            </div>
                            <div>
                                <label for="">{{form.start.label}}</label>{{form.start}}
                                {{ form.start.errors }}
                            </div>
                            <div>
                                <label for="">{{form.duration.label}}</label>{{form.duration}}
                                {{ form.duration.errors }}
                                <p class="comments">Exemple : 6 mois, ..</p>
                            </div>
                            <div>
                                <label for="">{{form.contract.label}}</label>{{form.contract}}
                                {{ form.contract.errors }}
                            </div>
                            <div>
                                <label for="">{{form.salary.label}}</label>{{form.salary}}
                                {{ form.salary.errors }}
                            </div>
                            <div>
                                <label for="">{{form.content.label}}</label>{{form.content}}
                                {{ form.content.errors }}
                            </div>
                            <div>
                                <label for="">{{form.tags.label}}</label>{{ form.tags }}
                                {{ form.tags.errors }}
                            </div>
                            <div>
                                <label for="">{{form.reference.label}}</label>{{ form.reference }}
                                {{ form.refenence.errors }}
                            </div>
                            <div>
                                <label for="">{{form.category.label}}</label>{{ form.category }}
                                {{ form.category.errors }}
                            </div>
                            <input class="PTbutton" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block js %}
<script>

    tinyMCE.init({
        removeformat_selector : 'style,script,img,html,iframe'
    });


    $(document).ready(function(){

        $('.content-application').hide();

        $('#view-candidature').click(function() {
            $('.content-application').slideToggle();
            $('#view-candidature').text("Fermer la candidature");
        });

        $('.edit-offer').submit(function() {

        });

    });
</script>
{% endblock %}