{% extends "layout/base.html" %}

{% block title %} Offers {% endblock %}
{% block content %}
    <h1>Offers</h1>

    <div class="row wrapper">
		<div class="threecol">
            <div class="whitediv">
			   	<h4>Affiner ma recherche</h4>
			    <p>Mots-clés</p>
			    <input type="text" name="keywords-sorting">
			    <p>Localisation</p>
			    <input type="text" name="location">
			    <p>Secteur d'activité</p>
			    <p>Type de contrat</p>
			    <p>Durée</p>
			</div>
		</div>
	    <div class="eightcol last">
	        
	        <input class="" type="text" name="search">

			{% if offers %}
				{% for offer in offers %}

				<div class="whitediv">
					
					<h2><a href="/offer/{{ offer.slug }}/">{{ offer.title }}</a></h2>
					<h4>{{ offer.company }}</h4>
					<p>{{ offer.location }}</p>
							
					{% if offer.tags %}
						<ul class="tags inline">
						{% for tag in offer.tags.all %}
							<li>{{ tag.name }}</li>
						{% endfor %}
						</ul>
					{% endif %}

					<h4>{{ offer.contract }}</h4>
					<p>{{ offer.publish_date }}</p>

				</div>
				{% endfor %}
			{% endif %}
			
	    </div>
	</div>

{% endblock %}