{% extends "layout/base.html" %}

{% block title %} Offers {% endblock %}
{% block content %}
    
    <div class="row wrapper">
        <h1 class="heading">Offres</h1>
        <div class="threecol">
            <div class="sleekbox filters">
                <h4>Affiner ma recherche</h4>
                <form action="" id="projectFilters">
                    <ul class="filters">
                        <li class="tag">
                            <span class="ideal-field">
                                <input type="text" name="keywords-sorting" placeholder="mots-cles">
                            </span>
                        </li>
                        <li class="region">
                                   <span class="ideal-field">
                              <input type="text" name="keywords-sorting" placeholder="localisation">
                          </span>
                        </li>
                        <li class="tag">
                          <span class="ideal-field">
                              <input type="text" name="keywords-sorting" placeholder="secteur d'activite">
                          </span>
                        </li>
                    </ul>
        	       <p>Secteur d'activité</p>
        	       <p>Type de contrat</p>
        	       <p>Durée</p>
                </form>
            </div>
        </div>
        <div class="ninecol last" id="list_offers">
            <div class="PTform inline">
                <form action="">
                   	<input class="sixcol search" type="text" name="search">
            		<button class="PTbutton" type="submit">Recherche</button>
    	        </form>
            </div>
            {% include endless_part %}
        </div>
    </div>

{% endblock %}


{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 30
        });
    </script>
{% endblock %}