{% extends "layout/base.html" %}

{% block title %} Offres {% endblock %}
{% block content %}
    <div class="container-filter">
        <!--<h1 class="heading">Projects</h1>-->

        <div class="row dropfilters">
            <div class="inline threecol">
                <form action="/offers/search/" class="search-form offers-search PTform" method="get">
                    {% csrf_token %}
                    <div class="tencol se">
                        <input class="search-field" id="search-query" type="text" name="query" placeholder="Rechercher une offre...">
                    </div>
                    <div class="twocol last">
                        <button type="submit" class="PTbutton"><i class="ico-search ico-white"></i></button>
                    </div>
                </form>
            </div>

            <!-- <div class="threecol">
                <div class="dropdown search-field dropdown-search" id="search-categories">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-value="all" href="#">Toutes les catégories</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a id="" href="#" title="" data-value="all" class="select">Toutes les catégories</a></li>
                        {% for categorie in categories %}
                        <li><a id="" href="#" title="" data-value="{{categorie.slug}}">{{categorie.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div> -->

        </div>
    </div>


    <div class="row wrapper" id="offers">
        <!--<h1 class="heading">Offers</h1>-->
        <div class="threecol">
            <div class="sleekbox filters">
                <form action="" class="PTform" id="projectFilters">
                    <ul class="filters">

                        <li class="type">
                            <h5> Type de Contrat </h5>
                            <ul class="checkbox-list search-field search-checkbox" id="search-contract">
                                <li><input checked type="checkbox" class="search-contract" name="contract" value="CDI">CDI</li>
                                <li><input checked type="checkbox" class="search-contract" name="contract" value="CDD">CDD</li>
                                <li><input checked type="checkbox" class="search-contract" name="contract" value="INTERN">Stage</li>
                                <li><input checked type="checkbox" class="search-contract" name="contract" value="APPRENTICE">Apprentissage</li>
                            </ul>
                        </li>

                        <li class="tag">
                            <span class="ideal-field">
                               <input class="search-field autocomplete" id="search-tags" type="text" name="keywords-sorting" placeholder="tags">
                            </span>
                        </li>

                        <li class="region">
                                   <span  class="ideal-field">
                              <input class="search-field autocomplete" id="search-location" type="text" name="location" placeholder="location">
                          </span>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="ninecol last list_offers">
            <div id="list-content">{% include endless_part %}</div>
        </div>
    </div>

{% endblock %}


{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery.autoSuggest.minified.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script src="{{ STATIC_URL }}js/search-engine.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 30
        });

        $().ready(function(){
            searchEngine.init($('#list-content'));
        });
    </script>
{% endblock %}