{% extends "layout/base.html" %}
{% load thumbnail %}

{% block title %} Mes offres {% endblock %}
{% block content %}

<div class="row posted_offers">
	<h1 class="heading">Mes offres</h1>

	{% if offers %}

		{% if offers.count > 1 %}
			<p>{{ offers.count }} offres postées</p>
		{% else %}
			<p>{{ offers.count }} offre postée</p>
		{% endif %}

    <section class="ninecol" id="list_offers">
        {% for offer in offers %}

            <h3>{{ offer.title }}</h3>
            <p class="publish-date">{{ offer.publish_date }}</p>
            <span>{{ offer.contract }}</span>
            {% if offer.tags %}
                <ul class="tags-offer">
                {% for tag in offer.tags.all %}
                    <li><a href="/offers/search/?tags[]={{tag.slug}}">{{ tag.name }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <div class="candidates">
                {% if applicants %}

                    <p>Candidats:</p>

                    {% for applicant in applicants %}

                        

                    {% endfor %}

                {% endif %}
            </div>

        {% endfor %}
    </section>

    <section class="threecol last suggest_candidates">
        <h4>Candidats suggérés :</h4>
        
    </section>

    
    <!--

    <div class="twelvecol last posted_offers" id="list_offers">

        <div class="sleekbox header thumb-offer">
            <div class="content">
                <div class="left">
                    <h3><a href="/offer/applications/{{offer.slug}}">{{ offer.title }}</a></h3>
                    <p class="publish-date">{{ offer.publish_date }}</p>
                    <span>{{ offer.contract }}</span>
                    {% if offer.tags %}
                        <ul class="tags-offer">
                            {% for tag in offer.tags.all %}
                                <li><a href="/offers/search/?tags[]={{tag.slug}}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="actions-offers">
                        {% if offer.vacancy %}
                            <a href="/offer/vacancy/unadd/{{offer.id}}" id="vacancy" class="active PTbutton">Pourvue</a>
                        {% else %}
                            <a href="/offer/vacancy/add/{{offer.id}}" id="vacancy" class="unactive PTbutton">A pourvoir</a>
                             on ne peut pas editer et supprimer une offre pourvue 
                            <a class="PTbuttton" href="/offer/edit/{{ offer.slug }}">Editer</a>
                            <a class="PTbuttton" href="/offer/delete/{{ offer.slug }}">Supprimer</a>
                        {% endif %}
                    </div>

                </div>
                <div class="right">
                    <h3>Etudiants ayant postulés</h3>
                    {% if applicants %}
                        {% for applicantoffer in applicants %} 
                            {% if applicantoffer.offer == offer %}
                            {% thumbnail applicantoffer.applicant.avatar "50x50" crop="left" as im %}
                                <a href="/profile/{{ applicantoffer.applicant.slug }}" data-tooltip="{{ applicantoffer.applicant.user}}" class="tooltip">
                                <img src="{{ im.url }}" alt="{{ applicantoffer.applicant.name }}"/>
                                </a>
                            {% endthumbnail %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            
        </div> -->
        
    </div>

    {% endif %}
</div>

{% endblock %}

{% block js %}

<script type="text/javascript">

    $(document).ready(function(){

        onoff_button('#vacancy', 'add', "Pourvue", "A pourvoir");

    });
</script>

{% endblock %}