{% extends "layout/base.html" %}
{% load thumbnail %}

{% block title %} Mes offres {% endblock %}
{% block content %}

<div class="row posted_offers">
	<h1 class="heading">Mes offres</h1>

	{% if offers %}

		{% if offers.count > 1 %}
			<p>{{ offers.count }} offres postées</p>
		{% else %}
			<p>{{ offers.count }} offre postée</p>
		{% endif %}

    <section class="list_offers ninecol">
        {% for offer in offers %}

            <div class="thumb-offer">

                <div class="content content-description">

                    <div class="left">
                        <h3><a href="/offer/get/{{ offer.slug }}">{{ offer.title }}</a></h3>
                        {% if offer.tags %}
                            <ul class="tags-offer">
                            {% for tag in offer.tags.all %}
                                <li><a href="/offers/search/?tags[]={{tag.slug}}">{{ tag.name }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="right">
                        <a class="mini" href="/offer/edit/{{ offer.slug }}">
                            <i class="ico-cog"></i>
                        </a>
                        <p class="publish-date">{{ offer.publish_date }}</p>
                        <span>{{ offer.contract }}</span>
                    </div>
                
                </div> <!-- end div content -->

                    <div class="candidates">

                        <div class="content">
                        {% if applications %}

                            <p>Candidats:</p>

                            {% for application in applications %}

                                {% if application.offer == offer %}

                                    <div class="applicant">

                                        {% thumbnail application.applicant.avatar "50x50" crop="left" as im %}
                                            <a href="/profile/{{ application.applicant.slug }}" data-tooltip="{{ application.applicant.user}}" class="tooltip">
                                            <img src="{{im.url}}" alt="{{ application.applicant.name }}"/>
                                            </a>
                                        {% endthumbnail %}

                                        <p>{{application.applicant.name}}</p>

                                        <a class="PTbutton view-candidature" href="/offer/statusApplication/read/{{application.id}}/{{application.applicant.slug}}/" id="{{application.id}}"><i class="ico-chevron-right"></i></a>

                                    </div>
                                    <div class="content-application" id="application{{application.id}}">
                                        <p>{{ application.content }}</p>
                                        <a class="PTbutton" href="/offer/statusApplication/accept/{{application.id}}/{{application.applicant.slug}}/"><i class="ico-ok"></i>Accepter cette candidature</a>
                                        <a class="PTbutton" href="/offer/statusApplication/decline/{{application.id}}/{{application.applicant.slug}}/"><i class="ico-ban-circle"></i>Refuser cette candidature</a>
                                    </div>

                                {% endif %}

                            {% endfor %}

                        {% endif %}
                        </div>

                    </div>

                    <a href="/offer/vacancy/add/{{offer.id}}/" class="PTbutton"><i class="ico-trash"></i>Déclarer pourvue</a>

            </div>                                              

        {% endfor %}
    </section>

    <section class="threecol last suggest_candidates">
        <h4>Candidats suggérés :</h4>
        
    </section>

    
    <!--

    <div class="twelvecol last posted_offers" id="list_offers">

        <div class="sleekbox header thumb-offer">
            <div class="content">
                <div class="left">
                    <h3><a href="/offer/applications/{{offer.slug}}">{{ offer.title }}</a></h3>
                    <p class="publish-date">{{ offer.publish_date }}</p>
                    <span>{{ offer.contract }}</span>
                    {% if offer.tags %}
                        <ul class="tags-offer">
                            {% for tag in offer.tags.all %}
                                <li><a href="/offers/search/?tags[]={{tag.slug}}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="actions-offers">
                        {% if offer.vacancy %}
                            <a href="/offer/vacancy/unadd/{{offer.id}}" id="vacancy" class="active PTbutton">Pourvue</a>
                        {% else %}
                            <a href="/offer/vacancy/add/{{offer.id}}" id="vacancy" class="unactive PTbutton">A pourvoir</a>
                             on ne peut pas editer et supprimer une offre pourvue 
                            <a class="PTbuttton" href="/offer/edit/{{ offer.slug }}">Editer</a>
                            <a class="PTbuttton" href="/offer/delete/{{ offer.slug }}">Supprimer</a>
                        {% endif %}
                    </div>

                </div>
                <div class="right">
                    <h3>Etudiants ayant postulés</h3>
                    {% if applicants %}
                        {% for applicantoffer in applicants %} 
                            {% if applicantoffer.offer == offer %}
                            {% thumbnail applicantoffer.applicant.avatar "50x50" crop="left" as im %}
                                <a href="/profile/{{ applicantoffer.applicant.slug }}" data-tooltip="{{ applicantoffer.applicant.user}}" class="tooltip">
                                <img src="{{ im.url }}" alt="{{ applicantoffer.applicant.name }}"/>
                                </a>
                            {% endthumbnail %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            
        </div> -->
        
    </div>

    {% endif %}
</div>

{% endblock %}

{% block js %}

<script type="text/javascript">

    $(document).ready(function(){

        onoff_button('#vacancy', 'add', "Pourvue", "A pourvoir");

        $('.content-application').hide();
        $('.view-candidature').click(function() {
            var id = '#application'+this.id;
            $.post($(this).attr('href'),function(data){
                $(id).show();
            });
            return false;
        });

    });
</script>

{% endblock %}