{% extends "layout/base.html" %}

{% block title %} Offer {{ slug }} {% endblock %}
{% block content %}

    {% if offer %}

    <a class="apply" href="/offer/apply/{{offer.id}}" alt="Apply for Offer" />Apply for this offer</a>

    	<div class="row wrapper">
            <div class="threecol">
                <div class="whitediv">

                	<h1>{{ offer.title }}</h1>
		        	<p>Postée le {{ offer.publish_date }}</p>
		        	<h3>{{ offer.contract }}</h3>
                    <p>{{ offer.location }}</p>
		        	<p>{{ offer.reference }}</p>

		            {% if offer.salary %}
		                <p>Salaire : {{  offer.salary }} €</p>
		            {% endif %}

		        	{% if offer.tags.all %}
			        	<h3>Compétences</h3>
			        	<ul class="tags inline">
	                        {% for tag in offer.tags.all %}
		        				<p>{{ tag.name }}</p>
		        			{% endfor %}
	                    </ul>
		        	{% endif %}
		        	<div class="share-social-network"></div>
	            </div>
	        </div>
	    	<div class="ninecol last">
            	<div class="whitediv">
            		<p>{{ offer.content }}</p>
            	</div>
        	</div>
        </div>

        <div class="row wrapper">
	        <div class="threecol">
	        	<div class="whitediv">
	        		<h3>{{ offer.company.name }}</h3>
	        		<p>{{ offer.company.url }}</p>
	        	</div>
	        </div>
        </div>

    {% endif %}
{% endblock %}

{% block js %}

     <script type="text/javascript">

        $().ready(function(){

            event.preventDefault();
            $.ajax({
                type:"POST",
                url:"/offer/apply/{{offer.id}}", 
                success: function(data) {
                    if (data.supplyOffer == 1) {
                        $("a.apply").replaceWith("<p style=\"color:green\">Applied for this offer</p>")
                    } else {
                        $(".apply").click(function() {
                            if (data.supplyOffer == 2) {
                                $("a.apply").addClass("pushed");
                                $("a.apply").replaceWith("<p style=\"color:green\">Applied for this offer</p>");
                            }
                            event.preventDefault();
                        });  
                    }
                    
                }
            });
        });

    </script>

{% endblock %}