{% extends "layout/base.html" %}

{% block title %} Offer {{ slug }} {% endblock %}
{% block content %}

    {% if offer %}

<div class="row">
    <a class="PTbutton apply" href="/offer/apply/{{offer.id}}" alt="Apply for Offer" />Apply for this offer</a>
</div>
    	<div class="row wrapper">
            <div class="threecol">
                <div class="sleekbox">

                	<h1>{{ offer.title }}</h1>
		        	<p>Posted the {{ offer.publish_date }}</p>
                    <h4>{{ offer.contract }}</h4>

                    <ul>
                        <li><i class="icon pin"></i>{{ offer.location }}</li>
                        <li><span>Reference : </span>{{ offer.reference }}</li>
                        <li><span>Beginning : </span></li>
                        <li><span>Salary : {{  offer.salary }} €</span></li>
                    </ul>

		        	{% if offer.tags.all %}
			        	<h4>Skills</h4>
			        	<ul class="tags">
	                        {% for tag in offer.tags.all %}
		        				<li>{{ tag.name }}</li>
		        			{% endfor %}
	                    </ul>
		        	{% endif %}
		        	<div class="share-social-network"></div>

	            </div>
	        </div>
	    	<div class="ninecol last">
            	<div class="sleekbox">
            		<p>{{ offer.content }}</p>
            	</div>
        	</div>
        </div>

        <div class="row wrapper">
	        <div class="threecol">
	        	<div class="sleekbox">
                    <img class="profile_pic" src="{{ offer.company.avatar }}" alt="">
	        		<h4>{{ offer.company.name }}</h4>
	        		<p>{{ offer.company.url }}</p>
	        	</div>
	        </div>
        </div>

    {% endif %}
{% endblock %}

{% block js %}

     <script type="text/javascript">

        $().ready(function(){

            event.preventDefault();
            $.ajax({
                type:"POST",
                url:"/offer/apply/{{offer.id}}", 
                success: function(data) {
                    if (data.supplyOffer == 1) {
                        $("a.apply").replaceWith("<p style=\"color:green\">Applied for this offer</p>")
                    } else {
                        $(".apply").click(function() {
                            if (data.supplyOffer == 2) {
                                $("a.apply").addClass("pushed");
                                $("a.apply").replaceWith("<p style=\"color:green\">Applied for this offer</p>");
                            }
                            event.preventDefault();
                        });  
                    }
                    
                }
            });
        });

    </script>

{% endblock %}