{% load staticfiles %}
{% load thumbnail %}
{% load projects %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Projecteel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- 1140px Grid styles for IE -->
        <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <script src="{% static "js/vendor/modernizr-2.6.2.min.js" %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <section class="strap-1">
            <img id="logo_l" src="{% static "img/logo_l.png" %}" alt="logo">
            <p class="catcher">Projecteel met en relation les étudiants et les jeunes diplômés avec les entreprises par leurs projets et leurs réalisations.</p>
            <div class="box-connexion threecol">
                <form class="PTform form-connexion" method="post" action="/accounts/login/?next=/profile/">
                    {% csrf_token %}    
                    <h1 class="heading heading-lp">Connexion</h1>

                    <label for="id_username">Email</label>
                    {{ form.username }}
                    {% if form.username.errors %} 
                        <span class="error">{{ form.username.errors|join:", " }}</span>
                    {% endif %}


                    <label for="id_password">Mot de passe</label>
                    {{ form.password }}

                    {% if form.password.errors %} 
                        <span class="error">{{ form.password.errors|join:", " }}</span>
                    {% endif %}

                    <input class="PTbutton button-landingPage" type="submit" name="" value="Se connecter">  

                    <input type="checkbox" name="" value="">Rester connecté
                    <p><a href="#">Mot de passe oublié</a> - <a href="#register">S'inscrire</a></p>
                    <p></p>
                </form>
            </div>
        </section>

        <section class="strap-2">
            <div class="row">
                <ul>
                    <li>
                        <h1 class="heading heading-lp" id="register">Etudiants et jeunes diplômés</h1>
                        <p>Propulsez-vous vers le monde du travail.</p>

                        <img class="rocket" src="{% static "img/fusee.gif" %}" alt="rocket">
                        <a class="PTbutton button-landingPage"  href="/accounts/register/">Je m'incris</a>
                        </li>
                    <li>
                        <h1 class="heading heading-lp">Entreprises</h1>
                        <p>Terminé les piles de CV, Projecteel vous propose des candidats selon votre profil.</p>

                        <img class="desk" src="{% static "img/desk.gif" %}" alt="desk">
                        <a class="PTbutton button-landingPage"  href="/accounts/register/">Je m'incris</a>
                    </li>
                </ul>
            </div> 
        </section>

        <section class="strap-3">
            <div class="row">
                <h1 class="heading heading-lp">Les derniers projets populaires</h1>
                {% block content %}
                {% if projects %}
                    {% for project in projects|slice:":4" %}
                        {% project_mini project forloop.counter|divisibleby:"4" "threecol" %}
                    {% endfor %}
                {% endif %}
                {% endblock %}                
                <a class="PTbutton button-landingPage" href="/projects/">Voir tous les projets</a>
            </div>
        </section>

        {% if companies %}
        <section class="strap-4">
            <div class="row">
                <h1 class="heading heading-lp">Ils nous font confiance</h1>
                    {% for company in companies %}
                        {% thumbnail company.avatar "140x140" as im %}
                            <img alt="{{ company.name }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" id="">
                        {% endthumbnail %}
                    {% endfor %}
            </div>
        </section>
        {% endif %}
     
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.8.3.min.js" %}"><\/script>')</script>
        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        <script>
            $().ready(function(){
                $("#id_username").focus();
            });

        </script>


    </body>
</html>
