{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- 1140px Grid styles for IE -->
        <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <script src="{% static "js/vendor/modernizr-2.6.2.min.js" %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div class="row">
                <a href="#" id="logo" class=""></a>
                <ul id="menu" class="fivecol">
                    <li><a href="#" class="active">Profil</a></li>
                    <li><a href="#">Projet</a></li>
                    <li><a href="#">Offres</a></li>
                </ul>
            </div>
        </header>   

        <div class="row wrapper">
            <div class="whitediv">
                <h1>WHITEBOX</h1>
                <p>LOLOL SAWG YOLO</p>
            </div>
        </div>

        <div class="row wrapper">
            <div class="sixcol">
                <div class="messageBox">
                    <a href="#" class="closeBtn">X</a>
                    <h4>Vous êtes étudiant ou jeune diplômé</h4>
                    <div class="row">
                        <p class="ninecol">Ajoutez vous des projets, approchez les recruteurs et faites vous un nom</p>
                        <button type="button" class="threecol last buttonAqua">S'inscrire</button>    
                    </div>
                </div>
            </div>
        </div>

        <div class="row wrapper">
            <div class="threecol">
                <div class="whitediv">
                    <h4>Filtres</h4>
                    <form action="" id="projectFilters">
                        <ul class="filters">
                            <li class="tag clearfix"><input type="text" name="PTinput" value="" placeholder="tags"></li>
                            <li class="push clearfix">
                                <select name="">
                                    <option value=""><5</option>
                                    <option value="">5 et 15</option>
                                </select>
                            </li>
                            <li class="date">
                                <select name="">
                                    <option value="">1 semaine</option>
                                    <option value="">2 et 3 semaines</option>
                                </select>
                            </li>
                            <li class="region"><input type="text" name="PTinput" value="" placeholder="zone géographique"></li>
                            <li class="category">
                                <input type="text" name="PTinput" value="" placeholder="Themes">
                                <div class="clearfix"></div>
                                <ul class="tags">
                                    <li>photoshop <a href="#" class="delete" title="Delete tag">X</a></li>
                                    <li>motion design <a href="#" class="delete" title="Delete tag">X</a></li>
                                    <li>photoshop <a href="#" class="delete" title="Delete tag">X</a></li>
                                    <li>motion design <a href="#" class="delete" title="Delete tag">X</a></li>
                                </ul>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="ninecol last">
                <div class="whitediv">
                    <ul class="tags inline">
                        <li>photoshop</li>
                        <li>motion design</li>
                    </ul>
                    <div class="projectContent">
                        <img src="{% static "img/project1.jpg" %}" alt="">
                    </div>
                    <div class="projectComments">
                        <h3 class="postComment">Poster un commentaire</h3>
                        <form action="">
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                            <input type="submit" value="Envoyer">
                        </form>
                        <h3 class="numberComments">10 commentaires</h3>
                        <ul class="commentList">
                            <li>
                                <img src="{% static "img/sisimagle.jpg" %}" class="profilePic" alt="">
                                <span class="name">Henriette de Poulpiquet</span>
                                <span class="commentInfo">- il y a 9 minutes</span>
                                <p>Why is there salmon in my saddlebags ?</p>
                            </li>
                            <li>
                                <img src="{% static "img/sisimagle.jpg" %}" class="profilePic" alt="">
                                <span class="name">Guéno la saumure</span>
                                <span class="commentInfo">- il y a 9 minutes</span>
                                <p>Et ta mère c'est une saumure ?</p>
                            </li>
                            <li>
                                <img src="{% static "img/sisimagle.jpg" %}" class="profilePic" alt="">
                                <span class="name">Henriette de Poulpiquet</span>
                                <span class="commentInfo">- il y a 9 minutes</span>
                                <p>Duis condimentum turpis et quam dignissim dictum. Curabitur nec lorem nunc. Aenean eu urna lorem. Fusce bibendum justo pellentesque dui vehicula vel lacinia leo pretium. Nulla non suscipit mauris. Sed viverra mauris at metus sodales volutpat. Nullam consequat fringilla dictum.
                                    <br><br>
                                Kiss - Michel 2 Noisy
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row wrapper">
            <div class="sixcol">
                <h1 class="blackTitle">Derniers projets</h1>
                <div class="whitediv header">
                    <h4 class="titleU">The Megastore <span class="date">11 Jan 2013</span></h4>
                    <p>mentum turpis et quam dignissim dictum. Curabitur nec lorem nunc. Aenean eu urna lorem. Fusce bibendum justo pellentesque dui vehicula vel lacinia leo pretium. Nulla non suscipit mauris. Sed viverra mauris at metus sodales volutpat. Nullam consequat fringilla dictum.</p>
                    <a href="" class="buttonAqua alignRight">Ajouter un projet</a>

                </div>
            </div>
            <div class="sixcol last">
                <h1 class="blackTitle">Derniers projets</h1>
                <div class="whitediv header">
                    <ul class="lastProjects">
                        <li>
                            <h4 class="titleU">The megastore</h4>
                            <img src="{% static "img/lastproject1.jpg" %}" alt="">
                            <ul>
                                <li><span class="label_views"></span>1250</li>
                                <li><span class="label_pushs"></span>150</li>
                                <li><span class="label_comments"></span>150</li>
                            </ul>
                        </li>
                        <li>
                            <h4 class="titleU">The megastore</h4>
                            <img src="{% static "img/lastproject1.jpg" %}" alt="">
                            <ul>
                                <li><span class="label_views"></span>1250</li>
                                <li><span class="label_pushs"></span>150</li>
                                <li><span class="label_comments"></span>150</li>
                            </ul>
                        </li>
                        <li class="last">
                            <h4 class="titleU">The megastore</h4>
                            <img src="{% static "img/lastproject1.jpg" %}" alt="">
                            <ul>
                                <li><span class="label_views"></span>1250</li>
                                <li><span class="label_pushs"></span>150</li>
                                <li><span class="label_comments"></span>150</li>
                            </ul>
                        </li>
                    </ul>
                    <a href="" class="buttonAqua alignRight">Ajouter un projet</a>
                </div>
            </div>
        </div>

        <div class="row wrapper">
            <div class="sixcol">
                <h1 class="blackTitle">Offre de stage/emploi</h1>
                <div class="whitediv header">
                    <div class="offer">
                        <h4 class="titleU">The megastore <span class="date">11 jan 2013</span></h4>
                        <img src="{% static "img/apple1.jpg" %}" alt="">
                        <ul class="offerInfo">
                            <li><i>Apple</i></li>
                            <li>Paris (Ile de France)</li>
                            <li><b>Stage</b></li>
                        </ul>
                        <ul class="tags inline">
                            <li>html</li>
                            <li>css</li>
                            <li>javascript</li>
                        </ul>
                    </div>
                    <div class="offer">
                        <h4 class="titleU">The megastore <span class="date">11 jan 2013</span></h4>
                        <img src="{% static "img/apple1.jpg" %}" alt="">
                        <ul class="offerInfo">
                            <li><i>Apple</i></li>
                            <li>Paris (Ile de France)</li>
                            <li><b>Stage</b></li>
                        </ul>
                        <ul class="tags inline">
                            <li>html</li>
                            <li>css</li>
                            <li>javascript</li>
                        </ul>
                    </div>
                    <div class="offer">
                        <h4 class="titleU">The megastore <span class="date">11 jan 2013</span></h4>
                        <img src="{% static "img/apple1.jpg" %}" alt="">
                        <ul class="offerInfo">
                            <li><i>Apple</i></li>
                            <li>Paris (Ile de France)</li>
                            <li><b>Stage</b></li>
                        </ul>
                        <ul class="tags inline">
                            <li>html</li>
                            <li>css</li>
                            <li>javascript</li>
                        </ul>
                    </div>
                    <a href="" class="buttonAqua alignRight">Voir + d'offres</a>
                </div>
            </div>
        </div>

        <div class="row wrapper">
            <div class="twelvecol">
                <h1 class="blackTitle">Inscription</h1>
                <div class="whitediv header">
                    <div class="row">
                        <!--<form action="" class="form fourcol">
                            <div>
                                <label class="head" for="">Email*</label>
                                <input type="text" />
                            </div>
                            <div>
                                <label class="head" for="">Mot de passe*</label>
                                <input class="success" type="password" />
                            </div>
                            <div>
                                <label class="head" for="">Confirmation de passe*</label>
                                <input class="error" type="password" />
                            </div>
                            <div>
                                <label class="head" for="">Type de compte</label>
                                <select name="" id="">
                                    <option value="">Ecole</option>
                                    <option value="">Candidat</option>
                                    <option value="">Entreprise</option>
                                </select>
                            </div>
                            <div>
                                <label class="head" for="">Je m'inscris à la newsletter</label>
                                <input type="radio">
                                <label for="">Oui</label>
                                <input type="radio">
                                <label for="">Non</label>
                            </div>
                            <div>
                                <label class="head" for="">Choisir une photo</label>
                                <input type="file" />
                            </div>
                            <div>
                                <label class="head" for="">Choix de tags</label>
                                <input type="text" />
                                <ul class="tags">
                                    <li>photoshop<a href="#" class="delete" title="Delete tag">X</a></li>
                                    <li>motion design<a href="#" class="delete" title="Delete tag">X</a></li>
                                </ul>
                            </div>
                            <div>
                                <input type="checkbox">
                                <label for="">J'accepte les conditions d'utilisations</label>
                            </div>
                            <div>
                                <input type="submit" class="buttonAqua alignRight" value="S'inscrire">
                            </div>
                        </form>-->
                        <div class="sixcol last">
                            <form id="my-form">
                              <!-- TAB -->
                              <section name="Première étape">

                                <!-- Heading -->
                                <div>
                                  <h1>Vos infos de base</h1>
                                  <p>Faisons connaissance, renseignez ces quelques champs.</p>
                                </div>

                                <!-- Text -->
                                <div><label>Pseudo:</label><input type="text" name="username"/></div>
                                <div><label>Date:</label><input type="text" name="date" class="datepicker" placeholder="JJ/MM/AA"/></div>
                                <div><label>Commentaires:</label><textarea name="comments"></textarea></div>

                                <!-- File -->
                                <div><label>Fichier:</label><input type="file" multiple name="file"/></div>

                                <!-- Select -->
                                <div>
                                  <label>Couleurs:</label>
                                  <select name="colors">
                                      <option value="default">Choose a color</option>
                                      <option value="Red">Red</option>
                                      <option value="Blue">Blue</option>
                                      <option value="Green">Green</option>
                                  </select>
                                </div>

                              </section> <!-- END TAB -->

                              <!-- TAB -->
                              <section name="Deuxième étape">

                                <div>
                                  <h1>Second tag</h1>
                                  <p>Nigga</p>
                                </div>

                                <!-- Checkbox -->
                                <div>
                                  <label>Languages:</label>
                                  <label><input type="checkbox" name="langs[]" value="English"/>English</label>
                                  <label><input type="checkbox" name="langs[]" value="Chinese"/>Chinese</label>
                                  <label><input type="checkbox" name="langs[]" value="Spanish"/>Spanish</label>
                                </div>

                                <!-- Radio -->
                                <div>
                                  <label>Options:</label>
                                  <label><input type="radio" name="options" value="One"/>One</label>
                                  <label><input type="radio" name="options" value="Two"/>Two</label>
                                  <label><input type="radio" name="options" value="Three"/>Three</label>
                                </div>

                              </section> <!-- END TAB -->

                              <!-- Separator -->
                              <div><hr/></div>

                              <!-- Buttons -->
                              <div class="alignRight">
                                <button class="buttonAqua" type="submit">Envoyer</button>
                              </div>

                            </form>
                        </div>
                     </div>
                </div>
            </div>
        </div>

        <div class="row wrapper">
            <div class="thumb threecol">
                <img src="{% static "img/thumb1.jpg" %}" alt="" />
                <div class="project_infos">
                    <div class="project_views"><span class="label_views"></span>1250</div>
                    <div class="project_pushs"><span class="label_pushs"></span>150</div>
                </div>
                <h3>The megastore</h3>
            </div>

            <div class="thumb threecol">
                <img src="{% static "img/thumb1.jpg" %}" alt="" />
                <div class="project_infos">
                    <div class="project_views"><span class="label_views"></span>1250</div>
                    <div class="project_pushs"><span class="label_comments"></span>150</div>
                </div>
                <h3>The megastore</h3>
            </div>

            <div class="thumb threecol">
                <img src="{% static "img/thumb1.jpg" %}" alt="" />
                <div class="project_infos">
                    <div class="project_views"><span class="label_views"></span>1250</div>
                    <div class="project_pushs"><span class="label_pushs"></span>150</div>
                </div>
                <h3>The megastore</h3>
            </div>

            <div class="thumb threecol last">
                <img src="{% static "img/thumb1.jpg" %}" alt="" />
                <div class="project_infos">
                    <div class="project_views"><span class="label_views"></span>1250</div>
                    <div class="project_pushs"><span class="label_pushs"></span>150</div>
                </div>
                <h3>The megastore</h3>
            </div>

        </div>
        <div class="row wrapper" >

            <div class="thumb threecol">
                <img src="{% static "img/thumb1.jpg" %}" alt="" />
                <div class="project_infos">
                    <div class="project_views"><span class="label_views"></span>1250</div>
                    <div class="project_pushs"><span class="label_pushs"></span>150</div>
                </div>
                <h3>The megastore</h3>
            </div>

            <div class="thumb threecol">
                <img src="{% static "img/thumb1.jpg" %}" alt="" />
                <div class="project_infos">
                    <div class="project_views"><span class="label_views"></span>1250</div>
                    <div class="project_pushs"><span class="label_pushs"></span>150</div>
                </div>
                <h3>The megastore</h3>
            </div>

            <div class="thumb threecol">
                <img src="{% static "img/thumb1.jpg" %}" alt="" />
                <div class="project_infos">
                    <div class="project_views"><span class="label_views"></span>1250</div>
                    <div class="project_pushs"><span class="label_pushs"></span>150</div>
                </div>
                <h3>The megastore</h3>
            </div>

            <div class="thumb threecol last">
                <img src="{% static "img/thumb1.jpg" %}" alt="" />
                <div class="project_infos">
                    <div class="project_views"><span class="label_views"></span>1250</div>
                    <div class="project_pushs"><span class="label_pushs"></span>150</div>
                </div>
                <h3>The megastore</h3>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.8.3.min.js" %}"><\/script>')</script>
        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    </body>
</html>
