@import "lesshat.less";
@import "mixins.less";

@PTblue : #0099e6;

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a{
    outline:none;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*:focus {outline: none;}

a{
    color: inherit;
    text-decoration:none;
}

body{
    color:#393939;
    background:#e5e5e5;
    font-family: 'OpenSans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.1px;
    font-size: 10pt;
    overflow-y:scroll;
}

html,
button,
input,
select,
textarea {
  font-family: 'OpenSans', sans-serif;
}

.row{
    margin:10px auto;
}

.last{
    float:right;
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

.whitediv{
    .whiteBox;
    &.header{
        .border-radius(0px 0px 3px 3px);
    }
}

i.icon{
    background:url(../img/PTicons.png) no-repeat 0 0;
    width:22px;
    height:21px;
    display: inline-block;
    line-height:22px;
    vertical-align:text-top;
    &.pin{  background-position:0 0; }
    &.job{  background-position:-28px 0; }
    &.web{  background-position:-59px 0; }
    &.twitter{  background-position:-92px -1px; }
    &.message{  background-position:-124px -2px; }
}



.sleekbox h1.blackTitle{
    line-height: 42px;
    padding: 0 20px;
    font-size:1.4em;
    font-weight: 400;
    text-transform:uppercase;
}

.subline{
    font-size:12pt;
    font-weight:300;
}

.PTbutton{
    background:@PTblue;
    border-bottom:1px solid #007cbb;
    color:#FFF;
    text-align:center;
    padding:3px 6px;
    font-weight:400;
    text-transform:uppercase;
    .transition(~"background .3s ease");
    &:hover{
        background:#FFF;
        color:@PTblue;
    }
}

.titleU{
    padding:5px 0;
    border-bottom:1px solid #9e9e9e;
    margin-bottom:5px;
    .date{
        float:right;
        font-weight:400;
        font-style:italic;
    }
}

.alignRight{
    margin:0 0 0 auto;
}
.ideal-wrap.alignRight{
    float:right;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover {
    color: #c00;
    text-decoration: none;

}

.tooltip:hover:after {
    background: #111;
    background: rgba(0,0,0,.8);
    top: 3.35em;
    color: #fff;
    content: attr(data-tooltip);
    display: block;
    left: 1em;
    padding: .3em .5em;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;
}

.tooltip:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0,0,0,.8) transparent;
    border-width: 0 .4em  .4em .4em;
    top: 3em;
    content: "";
    display: block;
    left: 2em;
    position: absolute;
    z-index: 99;
}



a.buttonAqua{
    line-height:1.8em;
    display:block;
}
.messageBox{
    .whiteBox;
    position:relative;
    h4{
        margin-bottom:15px;
        font-size:1.05em;
    }
    .closeBtn{
        width:15px;
        height:15px;
        padding:1px;
        display:block;
        position:absolute;
        top:10px;
        right:10px;
        text-align:center;
        .border-radius(3px);
        border:1px solid #BBB;
        font-weight:800;
        color:#AAA;
        font-size:.8em;
        line-height:15px;
        background:#dddddd;
        &:hover{
            color:#666;
        }
    }
    .row{
        min-width:0;
    }
    .buttonAqua{
        position: absolute;
        bottom:10px;
        right: 10px;
    }
}

.heading{
    font-size:2em;
    text-transform:uppercase;
    padding:20px 0;
}


// .wrapper{
//     padding:5px;
//     width:1130px;
// }

.thumb{
    padding:0px;
    margin-bottom: 20px;
    text-align:center;
    background: #fff;
    padding:0;
    a{
        color:inherit;
        text-decoration:none;
    }
    img{
        padding:0;
        width:100%;
    }
    h3{
        text-align:center;
        height:38px;
        line-height:38px;
        width:92%;
        margin: 0 auto;
        border-top:1px solid #d2d2d2;
    }

    .project_infos{
        overflow:auto;
        width:100%;
        margin:5px 0;

        .project_views{
            float:left;
            width:24%;
            padding:5px 3% 5px 20%;
            text-align:left;

        }
        .project_pushs{
            float:right;
            width:44%;
            padding:5px 3%;
            text-align:left;
        }
    }
}

.label_views{
    background: url(../img/icon_social.png) no-repeat 0 -2px;
    height:15px;
    width:19px;
    margin:0 5px 0 0;
    display:block;
    float:left;
}
.label_pushs{
    background: url(../img/icon_social.png) no-repeat -21px 0px;
    height:19px;
    width:19px;
    margin:0 5px 0 0;
    display:block;
    float:left;
}
.label_comments{
    background: url(../img/icon_social.png) no-repeat -40px -1px;
    height:19px;
    width:19px;
    margin:0 5px 0 0;
    display:block;
    float:left;
}


// .filters{
//     list-style-type:none;
//     li{
//         border-bottom:1px solid #d2d2d2;
//         padding:10px 0 10px 40px;
//         overflow:auto;
//         &:last-child{
//             border-bottom:none;
//         }
//         input, select, option{
//             .greyInput;
//             float:right;
//             clear:both;
//         }
//         input{
//             width:96%;
//         }
//         &.tag{
//             background: url(../img/filters_pictos.png) no-repeat 5px 10px;
//         }
//         &.push{
//             background: url(../img/filters_pictos.png) no-repeat 5px -43px;
//         }
//         &.date{
//             background: url(../img/filters_pictos.png) no-repeat 5px -98px;
//         }
//         &.region{
//             background: url(../img/filters_pictos.png) no-repeat 5px -147px;
//         }
//         &.category{
//             background: url(../img/filters_pictos.png) no-repeat 5px -200px;
//         }
//     }
// }

.tags{
    margin:0;
    overflow:auto;
    li{
        background:#c0c0c0;
        padding: 2px 5px;
        display:block;
        float: left;
        color:#FFF;
        font-size:1em;
        margin:5px 10px 5px 0;

        a.delete{
            margin-left:3px;
            padding:4px 7px 4px 7px;
            text-align:center;
            font-size:.8em;
            font-weight:800;
            .box-shadow(~"inset 0 0 5px rgba(255,255,255,.5)");
            .transition(~"box-shadow .2s ease");
            &:hover{
                .box-shadow(~"inset 0 0 5px rgba(255,255,255,1)");
            }
        }
    }
    &.inline{
        li{
            padding-right:4px;
        }
    }
}

.projectContent{
    img{
        display:block;
        margin:5px auto;
        max-width:100%;
    }
}

.projectComments{
    h3{
        margin:10px 0;
        padding-left:30px;
        background: url(../img/comments_pictos.png) no-repeat 2px -2px;
        &.postComment{
            background-position:2px -2px;
        }
        &.numberComments{
            background-position:2px -80px;
        }
    }
    form{
        textarea{
            .greyInput;
            width:97.5%;
            padding:10px;
        }
        input{
            .blueButton;
            display: block;
            margin:10px 0 10px auto;
        }
    }
    .commentList{
        padding-bottom:20px;
    }
    ul{
        border-top:1px solid #9e9e9e;
        padding:0 5px;
        list-style-type:none;
        li{
            padding:20px 0;
            position: relative;
            border-bottom:1px solid #d2d2d2;
            img.profilePic{
                .border-radius(20px);
                display:block;
                float:left;
                clear:left;
                margin-top: 5px;
                margin-right:10px;
            }
            .name{
                font-weight:800;
            }
            .commentInfo{
                font-size:.8em;
            }
            p{
                margin-top:10px;
                margin-left:52px;
            }
            &:last-child{
                border-bottom:none;
            }
        }
    }
}

a.delete-item{
    position:absolute;
    top: 20px;
    right:20px;
    &:hover{
        color:@PTblue;
    }
}

.lastProjects{
    list-style-type:none;
    overflow:auto;
    margin-bottom:10px;
    li{
        width:28%;
        float:left;
        margin-right:8%;
        img{
            // .imageBorder(3px);
            float:left;
            margin-top:5px;
        }
        ul{
            float:left;
            margin-left:10px;
            margin-top:5px;
            list-style-type:none;
            li{
                float:none;
                width:100%;
                margin-bottom:4px;
            }
        }
        &.last{
            margin-right:0;
        }
    }
}

.offer{
    .titleU{
        margin-bottom:10px;
    }
    overflow:auto;
    img{
        float:left;
        .imageBorder;
        margin:0 0 1px 1px;
    }
    ul{
        float:left;
        width:35%;
        list-style-type:none;
    }
    .offerInfo{
        li{
            padding:2px 0 0 10px;
        }

    }
    .tags.inline{
        padding:0;
        margin:0;
    }
}

.ideal-form{
    padding: 10px 20px;
    background:transparent;
    .ideal-label{
        width: 100px;
    }
    .ideal-heading{
        background:transparent;
    }
    .ideal-field{
        background:transparent;
        border:none;
        padding:0;
    }
}

.PTform{
    &.inline{
        input[type=text]{
            height: 33px;
        }
        .ideal-field{

        }
    }
}

.sleekbox{
    width: 100%;
    background: #FFFFFF;
    display: block;
    padding: 0;
    margin: 0;
    // .box-shadow(~"0 1px 1px 1px rgba(0,0,0,.1)");
    h1,h2,h3,h4,h5,h6{
        padding: 15px 20px;
        display: block;
    }
    h4{
        font-size: 1.5em;
        font-weight: 400;
    }
    ul.filters{
        border-top: 1px solid #e6e6e6;
        li{
            display: block;
            padding: 0;
            border-bottom: 1px solid #e6e6e6;
            &:focus,&:hover{
                ::-webkit-input-placeholder {
                   color: #FFF;
                }

                :-moz-placeholder { /* Firefox 18- */
                   color: #FFF;
                }

                ::-moz-placeholder {  /* Firefox 19+ */
                   color: #FFF;
                }

                :-ms-input-placeholder {
                   color: #FFF;
                }
            }
            &:last-child{
                border-bottom: 0;
            }
            input::-moz-selection { background: #777; }
            input::selection { background: #777; }
            input{
                width: 84%;
                margin: 0;
                padding: 5% 8%;
                border: 0;
                display: block;
                background: transparent;
                &:hover,&:focus{
                    background-color: #4fbaea;
                    color:#FFF;
                }

            }
        }
    }
    p{
        padding: 20px;
    }

    ul.tags{
        padding: 20px;
        border-top: none;
        li{
            padding: 3px 9px;
            position: relative;
            background: #F1F1F7;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
            border: 0;
            height: 21px;
            line-height: 21px;
            -webkit-box-shadow: 0 1px 0 #CECED8;
            -moz-box-shadow: 0 1px 0 #ceced8;
            box-shadow: 0 1px 0 #CECED8;
            margin-right: 4px;
            display: -moz-inline-box;
            -moz-box-orient: vertical;
            display: inline-block;
            vertical-align: middle;
            color: #4E4E4E;
        }
        .delete{
            .box-shadow(~"none");
            padding: 2px;
            &:hover{
                .box-shadow(~"none");
                color: #4fbaea;
            }
        }
    }

    ::-webkit-input-placeholder {
       color: #777;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #777;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #777;
    }

    :-ms-input-placeholder {
       color: #777;
    }
}

/*
   H O M E
   ========================================================================== */

header.menu{
    background:#252525;
    height:51px;
    width: 100%;
    overflow:auto;
    color:#FFFFFF;
    .row{
        margin:0 auto;
    }


    #logo{
        background: url(../img/logo.png) no-repeat 0 center transparent;
        width: 113px;
        height:51px;
        display: block;
        float: left;
    }
    #menu{
        list-style-type: none;
        overflow: auto;
        float: right;
        a{
            display: block;
            float: left;
            padding: 15px 50px;
            margin: 0;
            text-transform: uppercase;
            text-align: center;
            font-size:1.1em;
            &.active, &:hover{
                border-bottom: 4px solid @PTblue;
                height: 17px;
                background: #353535;
                color: inherit;
                text-decoration:none;
            }
        }
    }
}

/*
   P R O F I L E
   ========================================================================== */

.profile{
    margin-top: 0;
    .profile_cover{
        position: relative;
        height: 277px;
        overflow: hidden;
        .profile_cover_infobar{
            height: 42px;
            position: absolute;
            margin:0;
            padding:0;
            bottom:0;
            left: 0;
            width:100%;
            .rgba(#393838,0.9);
            color: #FFF;
            h1#name{
                float: left;
            }
            .PTbutton{
                margin-top:9px;
                float: left;
                display: block;
            }
            .profile_stats{
                list-style-type: none;
                padding: 5px 0;
                li{
                    display: block;
                    float: left;
                    width: 24%;
                    text-align:center;
                    line-height: 1.1;
                    font-size: .8em;
                    border-right: 1px solid #757575;
                    &:last-child{
                        border:none;
                    }
                    span{
                        display: block;
                        font-size: 1.7em;
                    }
                }
            }
        }
    }
    .profile_secondbar{
        height: 42px;
        margin-bottom: 40px;
        ul{
            list-style-type:none;
            overflow: auto;
            width:100%;
            li{
                line-height: 42px;
                float: left;
                padding: 0 40px;
                &.last{
                    float: right;
                }
            }
        }
    }
    .profile_pic{
        position: absolute;
        left:50%;
        margin-left:-95px;
        top: 225px;
        .border-radius(100px);
        border:6px solid #FFF;
        width:190px;
        height: 190px;
    }
    .profile_menubar{
        border-bottom: 1px solid #d2d2d2;
        text-align: right;
        .profile_menu{
            list-style-type: none;
            li a{
                display: block;
                float: left;
                text-transform: uppercase;
                padding:5px 0;
                width:50%;
                text-align: center;
                font-size: 1.1em;
                &.active, &:hover{
                    background: #f6f6f6;
                }
            }
        }
        .tags{
            display: inline;
            position: relative;
            top: 6px;
            vertical-align: bottom;
            li{
                float: none;
                display: inline;
                margin:5px 0 5px 10px;
            }
        }
    }
}
#infos_profile{
    h1{
        text-transform: uppercase;
        margin: 15px 0;
        padding: 5px 0;
        font-size: 1.4em;
        border-bottom:1px solid #d2d2d2;
    }
    .experience, .education{
        padding: 10px 20px;
        margin: 10px 0;
        position: relative;
        &:hover{
            background: #CCC;
            a.delete-item{
                display: block;
            }
        }
        a.delete-item{
            display: none;
        }
    }
    #add-experience, #add-education{
        font-weight: 600;
        margin: 15px 0;
        display: block;
        &:hover{
            color: @PTblue;
        }
    }
}

#add-education-form, #add-experience-form{
    display: none;
}

.errorlist{
    color: #F00;
}


/*
   O F F E R S
   ========================================================================== */

#list_offers{
    .blackTitle{
        margin-top: 15px;
    }
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
