/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
a {
  outline: none;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
ul {
  list-style-type: none;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  color: #393939;
  background: #e5e5e5;
  font-family: 'OpenSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  font-size: 10pt;
  overflow-y: scroll;
}
html,
button,
input,
select,
textarea {
  font-family: 'OpenSans', sans-serif;
}
.row {
  margin: 10px auto;
}
.last {
  float: right;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
.whitediv {
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 10px 15px;
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,.2);
  box-shadow: 0 0 4px 1px rgba(0,0,0,.2);
  color: 0 0 4px 1px rgba(0,0,0,.2);
}
.whitediv.header {
  -webkit-border-radius: 0px 0px 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px 0px 3px 3px;
  -moz-background-clip: padding;
  border-radius: 0px 0px 3px 3px;
  background-clip: padding-box;
}
i.icon {
  background: url(../img/PTicons.png) no-repeat 0 0;
  width: 22px;
  height: 21px;
  display: inline-block;
  line-height: 22px;
  vertical-align: text-top;
}
i.icon.pin {
  background-position: 0 0;
}
i.icon.job {
  background-position: -28px 0;
}
i.icon.web {
  background-position: -59px 0;
}
i.icon.twitter {
  background-position: -92px -1px;
}
i.icon.message {
  background-position: -124px -2px;
}
i.icon.image {
  background-position: -156px -1px;
}
i.icon.add {
  background-position: -185px -2px;
}
i.icon.cancel {
  background-position: -210px -2px;
}
i.icon.send {
  background-position: -240px -3px;
}
i.icon.delete {
  background-position: -265px -2px;
}
.sleekbox h1.blackTitle {
  line-height: 42px;
  padding: 0 20px;
  font-size: 1.4em;
  font-weight: 400;
  text-transform: uppercase;
}
.subline {
  font-size: 12pt;
  font-weight: 300;
}
.PTbutton {
  width: 115px;
  height: 26px;
  margin: 5px 0;
  letter-spacing: -0.05em;
  font-weight: 200;
  font-size: 12px;
  background: #0099e6;
  border: none;
  border-bottom: 1px solid #007cbb;
  color: #FFF;
  text-align: center;
  padding: 3px 6px;
  height: 38px;
  font-weight: 400;
  line-height: 2em;
  text-transform: uppercase;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
}
.PTbutton:hover {
  background: #047dba;
}
.PTbutton:hover {
  background: #FFF;
  color: #0099e6;
}
.titleU {
  padding: 5px 0;
  border-bottom: 1px solid #9e9e9e;
  margin-bottom: 5px;
}
.titleU .date {
  float: right;
  font-weight: 400;
  font-style: italic;
}
.alignRight {
  margin: 0 0 0 auto;
}
.ideal-wrap.alignRight {
  float: right;
}
.tooltip {
  display: inline;
  position: relative;
}
.tooltip:hover {
  color: #c00;
  text-decoration: none;
}
.tooltip:hover:after {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  top: 3.35em;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  left: 1em;
  padding: .3em .5em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
}
.tooltip:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-color: rgba(0, 0, 0, 0.8) transparent;
  border-width: 0 .4em  .4em .4em;
  top: 3em;
  content: "";
  display: block;
  left: 2em;
  position: absolute;
  z-index: 99;
}
a.buttonAqua {
  line-height: 1.8em;
  display: block;
}
.messageBox {
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 10px 15px;
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,.2);
  box-shadow: 0 0 4px 1px rgba(0,0,0,.2);
  color: 0 0 4px 1px rgba(0,0,0,.2);
  position: relative;
}
.messageBox h4 {
  margin-bottom: 15px;
  font-size: 1.05em;
}
.messageBox .closeBtn {
  width: 15px;
  height: 15px;
  padding: 1px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  border: 1px solid #BBB;
  font-weight: 800;
  color: #AAA;
  font-size: .8em;
  line-height: 15px;
  background: #dddddd;
}
.messageBox .closeBtn:hover {
  color: #666;
}
.messageBox .row {
  min-width: 0;
}
.messageBox .buttonAqua {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.heading {
  font-size: 2em;
  text-transform: uppercase;
  padding: 20px 0;
  font-weight: 400;
}
.content {
  padding: 20px;
}
.thumb {
  padding: 0px;
  margin-bottom: 20px;
  text-align: center;
  background: #fff;
  padding: 0;
}
.thumb a {
  color: inherit;
  text-decoration: none;
}
.thumb img {
  padding: 0;
  width: 100%;
}
.thumb h3 {
  text-align: center;
  height: 38px;
  line-height: 38px;
  width: 92%;
  margin: 0 auto;
  border-top: 1px solid #d2d2d2;
}
.thumb .project_infos {
  overflow: auto;
  width: 100%;
  margin: 5px 0;
}
.thumb .project_infos .project_views {
  float: left;
  width: 24%;
  padding: 5px 3% 5px 20%;
  text-align: left;
}
.thumb .project_infos .project_pushs {
  float: right;
  width: 44%;
  padding: 5px 3%;
  text-align: left;
}
.label_views {
  background: url(../img/icon_social.png) no-repeat 0 -2px;
  height: 15px;
  width: 19px;
  margin: 0 5px 0 0;
  display: block;
  float: left;
}
.label_pushs {
  background: url(../img/icon_social.png) no-repeat -21px 0px;
  height: 19px;
  width: 19px;
  margin: 0 5px 0 0;
  display: block;
  float: left;
}
.label_comments {
  background: url(../img/icon_social.png) no-repeat -40px -1px;
  height: 19px;
  width: 19px;
  margin: 0 5px 0 0;
  display: block;
  float: left;
}
.tags {
  margin: 0;
  overflow: auto;
}
.tags li {
  background: #c0c0c0;
  padding: 2px 5px;
  display: block;
  float: left;
  color: #FFF;
  font-size: 1em;
  margin: 5px 10px 5px 0;
  border-bottom: 1px;
}
.tags li a.delete {
  margin-left: 3px;
  padding: 4px 7px 4px 7px;
  text-align: center;
  font-size: .8em;
  font-weight: 800;
  -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,.5);
  -moz-box-shadow: inset 0 0 5px rgba(255,255,255,.5);
  box-shadow: inset 0 0 5px rgba(255,255,255,.5);
  color: inset 0 0 5px rgba(255,255,255,.5);
  -webkit-transition: -webkit-box-shadow .2s ease;
  -moz-transition: -moz-box-shadow .2s ease;
  -o-transition: box-shadow .2s ease;
  -ms-transition: box-shadow .2s ease;
  transition: box-shadow .2s ease;
}
.tags li a.delete:hover {
  -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,1);
  -moz-box-shadow: inset 0 0 5px rgba(255,255,255,1);
  box-shadow: inset 0 0 5px rgba(255,255,255,1);
  color: inset 0 0 5px rgba(255,255,255,1);
}
.tags.inline li {
  padding-right: 4px;
}
.projectContent img {
  display: block;
  margin: 5px auto;
  max-width: 100%;
}
.projectComments h3 {
  margin: 10px 0;
  padding-left: 30px;
  background: url(../img/comments_pictos.png) no-repeat 2px -2px;
}
.projectComments h3.postComment {
  background-position: 2px -2px;
}
.projectComments h3.numberComments {
  background-position: 2px -80px;
}
.projectComments form textarea {
  background: #fbfbfb;
  border: 1px solid #BBB;
  padding: 3px;
  display: block;
  width: 100%;
  width: 97.5%;
  padding: 10px;
}
.projectComments form input {
  border: none;
  border-bottom: 1px solid #007cbb;
  background: #0099e6;
  width: 115px;
  height: 26px;
  color: #FFF;
  margin: 5px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-weight: 200;
  font-size: 12px;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
  display: block;
  margin: 10px 0 10px auto;
}
.projectComments form input:hover {
  background: #047dba;
}
.projectComments .commentList {
  padding-bottom: 20px;
}
.projectComments ul {
  border-top: 1px solid #9e9e9e;
  padding: 0 5px;
  list-style-type: none;
}
.projectComments ul li {
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid #d2d2d2;
}
.projectComments ul li img.profilePic {
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  display: block;
  float: left;
  clear: left;
  margin-top: 5px;
  margin-right: 10px;
}
.projectComments ul li .name {
  font-weight: 800;
}
.projectComments ul li .commentInfo {
  font-size: .8em;
}
.projectComments ul li p {
  margin-top: 10px;
  margin-left: 52px;
}
.projectComments ul li:last-child {
  border-bottom: none;
}
a.delete-item {
  position: absolute;
  top: 20px;
  right: 20px;
}
a.delete-item:hover {
  color: #0099e6;
}
.lastProjects {
  list-style-type: none;
  overflow: auto;
  margin-bottom: 10px;
}
.lastProjects li {
  width: 28%;
  float: left;
  margin-right: 8%;
}
.lastProjects li img {
  float: left;
  margin-top: 5px;
}
.lastProjects li ul {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  list-style-type: none;
}
.lastProjects li ul li {
  float: none;
  width: 100%;
  margin-bottom: 4px;
}
.lastProjects li.last {
  margin-right: 0;
}
.offer {
  overflow: auto;
}
.offer .titleU {
  margin-bottom: 10px;
}
.offer img {
  float: left;
  border: 5px solid #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  color: 0 0 3px rgba(0,0,0,.2);
  margin: 0 0 1px 1px;
}
.offer ul {
  float: left;
  width: 35%;
  list-style-type: none;
}
.offer .offerInfo li {
  padding: 2px 0 0 10px;
}
.offer .tags.inline {
  padding: 0;
  margin: 0;
}
.ideal-form {
  padding: 10px 20px;
  background: transparent;
}
.ideal-form .ideal-label {
  width: 100px;
}
.ideal-form .ideal-heading {
  background: transparent;
}
.ideal-form .ideal-field {
  background: transparent;
  border: none;
  padding: 0;
}
.sleekbox {
  width: 100%;
  background: #FFFFFF;
  display: block;
  padding: 0;
  margin: 0;
}
.sleekbox h1,
.sleekbox h2,
.sleekbox h3,
.sleekbox h4,
.sleekbox h5,
.sleekbox h6 {
  padding: 15px 20px;
  display: block;
}
.sleekbox h4 {
  font-size: 1.5em;
  font-weight: 400;
}
.sleekbox ul.filters {
  border-top: 1px solid #e6e6e6;
}
.sleekbox ul.filters li {
  display: block;
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
}
.sleekbox ul.filters li:focus ::-webkit-input-placeholder,
.sleekbox ul.filters li:hover ::-webkit-input-placeholder {
  color: #FFF;
}
.sleekbox ul.filters li:focus :-moz-placeholder,
.sleekbox ul.filters li:hover :-moz-placeholder {
  /* Firefox 18- */

  color: #FFF;
}
.sleekbox ul.filters li:focus ::-moz-placeholder,
.sleekbox ul.filters li:hover ::-moz-placeholder {
  /* Firefox 19+ */

  color: #FFF;
}
.sleekbox ul.filters li:focus :-ms-input-placeholder,
.sleekbox ul.filters li:hover :-ms-input-placeholder {
  color: #FFF;
}
.sleekbox ul.filters li:last-child {
  border-bottom: 0;
}
.sleekbox ul.filters li input::-moz-selection {
  background: #777;
}
.sleekbox ul.filters li input::selection {
  background: #777;
}
.sleekbox ul.filters li input {
  width: 84%;
  margin: 0;
  padding: 5% 8%;
  border: 0;
  display: block;
  background: transparent;
}
.sleekbox ul.filters li input:hover,
.sleekbox ul.filters li input:focus {
  background-color: #4fbaea;
  color: #FFF;
}
.sleekbox p {
  padding: 20px;
}
.sleekbox ul.tags {
  padding: 20px;
  border-top: none;
}
.sleekbox ul.tags li {
  padding: 3px 9px;
  position: relative;
  background: #F1F1F7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  height: 21px;
  line-height: 21px;
  -webkit-box-shadow: 0 1px 0 #CECED8;
  -moz-box-shadow: 0 1px 0 #ceced8;
  box-shadow: 0 1px 0 #CECED8;
  margin-right: 4px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  color: #4E4E4E;
}
.sleekbox ul.tags .delete {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: none;
  padding: 2px;
}
.sleekbox ul.tags .delete:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: none;
  color: #4fbaea;
}
.sleekbox ::-webkit-input-placeholder {
  color: #777;
}
.sleekbox :-moz-placeholder {
  /* Firefox 18- */

  color: #777;
}
.sleekbox ::-moz-placeholder {
  /* Firefox 19+ */

  color: #777;
}
.sleekbox :-ms-input-placeholder {
  color: #777;
}
/*
   H O M E
   ========================================================================== */
header.menu {
  background: #252525;
  height: 51px;
  width: 100%;
  overflow: auto;
  color: #FFFFFF;
}
header.menu .row {
  margin: 0 auto;
}
header.menu #logo {
  background: url(../img/logo.png) no-repeat 0 center transparent;
  width: 113px;
  height: 51px;
  display: block;
  float: left;
}
header.menu #menu {
  list-style-type: none;
  overflow: auto;
  float: right;
}
header.menu #menu a {
  display: block;
  float: left;
  padding: 15px 50px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
}
header.menu #menu a.active,
header.menu #menu a:hover {
  border-bottom: 4px solid #0099e6;
  height: 17px;
  background: #353535;
  color: inherit;
  text-decoration: none;
}
/*
   P R O F I L E
   ========================================================================== */
.profile {
  margin-top: 0;
}
.profile .profile_cover {
  position: relative;
  height: 277px;
  overflow: hidden;
}
.profile .profile_cover .profile_cover_infobar {
  height: 42px;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #393838;
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6393838, endColorstr=#e6393838)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6393838, endColorstr=#e6393838);
  background-color: rgba(57, 56, 56, 0.9);
  color: #FFF;
}
.profile .profile_cover .profile_cover_infobar h1#name {
  float: left;
}
.profile .profile_cover .profile_cover_infobar .PTbutton {
  margin-top: 9px;
  float: left;
  display: block;
}
.profile .profile_cover .profile_cover_infobar .profile_stats {
  list-style-type: none;
  padding: 5px 0;
}
.profile .profile_cover .profile_cover_infobar .profile_stats li {
  display: block;
  float: left;
  width: 24%;
  text-align: center;
  line-height: 1.1;
  font-size: .8em;
  border-right: 1px solid #757575;
}
.profile .profile_cover .profile_cover_infobar .profile_stats li:last-child {
  border: none;
}
.profile .profile_cover .profile_cover_infobar .profile_stats li span {
  display: block;
  font-size: 1.7em;
}
.profile .profile_secondbar {
  height: 42px;
  margin-bottom: 40px;
}
.profile .profile_secondbar ul {
  list-style-type: none;
  overflow: auto;
  width: 100%;
}
.profile .profile_secondbar ul li {
  line-height: 42px;
  float: left;
  padding: 0 40px;
}
.profile .profile_secondbar ul li.last {
  float: right;
}
.profile .profile_pic {
  position: absolute;
  left: 50%;
  margin-left: -95px;
  top: 225px;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  border: 6px solid #FFF;
  width: 190px;
  height: 190px;
}
.profile .profile_menubar {
  border-bottom: 1px solid #d2d2d2;
  text-align: right;
}
.profile .profile_menubar .profile_menu {
  list-style-type: none;
}
.profile .profile_menubar .profile_menu li a {
  display: block;
  float: left;
  text-transform: uppercase;
  padding: 5px 0;
  width: 50%;
  text-align: center;
  font-size: 1.1em;
}
.profile .profile_menubar .profile_menu li a.active,
.profile .profile_menubar .profile_menu li a:hover {
  background: #f6f6f6;
}
.profile .profile_menubar .tags {
  display: inline;
  position: relative;
  top: 6px;
  vertical-align: bottom;
}
.profile .profile_menubar .tags li {
  float: none;
  display: inline;
  margin: 5px 0 5px 10px;
}
#infos_profile h1 {
  text-transform: uppercase;
  margin: 15px 0;
  padding: 5px 0;
  font-size: 1.4em;
  border-bottom: 1px solid #d2d2d2;
}
#infos_profile .experience,
#infos_profile .education {
  padding: 10px 20px;
  margin: 10px 0;
  position: relative;
}
#infos_profile .experience:hover,
#infos_profile .education:hover {
  background: #CCC;
}
#infos_profile .experience:hover a.delete-item,
#infos_profile .education:hover a.delete-item {
  display: block;
}
#infos_profile .experience a.delete-item,
#infos_profile .education a.delete-item {
  display: none;
}
#infos_profile #add-experience,
#infos_profile #add-education {
  font-weight: 600;
  margin: 15px 0;
  display: block;
}
#infos_profile #add-experience:hover,
#infos_profile #add-education:hover {
  color: #0099e6;
}
#add-education-form,
#add-experience-form {
  display: none;
}
.errorlist {
  color: #F00;
}
.PTform label {
  display: block;
  padding: 5px 0;
  font-weight: 800;
}
.PTform div {
  margin: 15px 0;
}
.PTform input[type=text],
.PTform input[type=password],
.PTform input[type=email],
.PTform textarea {
  height: 25px;
  width: 96%;
  font-size: 15px;
  padding: 2%;
  border: 1px solid #cdcdcd;
  background: #fcfcfc;
  outline: 0;
  color: #666;
}
.PTform textarea {
  height: auto;
}
.PTform .file-wrap {
  position: relative;
}
.PTform .file-wrap input[type=file] {
  visibility: hidden;
  text-indent: -9999px;
  position: absolute;
}
.PTform .file-wrap input[type=text] {
  width: 70%;
}
.PTform .file-wrap button {
  border: none;
  border-bottom: 1px solid #007cbb;
  background: #0099e6;
  width: 115px;
  height: 26px;
  color: #FFF;
  margin: 5px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-weight: 200;
  font-size: 12px;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
  width: 26%;
  margin: 0;
  height: 47px;
  position: absolute;
  text-transform: none;
  font-size: 1em;
  right: 0;
}
.PTform .file-wrap button:hover {
  background: #047dba;
}
.PTform .fileupload-buttonbar .PTbutton {
  margin: 0 5px;
  float: left;
}
.PTform .fileupload-buttonbar .PTbutton.start {
  background: #5e5e5e;
  border-bottom-color: #3b3b3b;
}
.PTform .fileupload-buttonbar .PTbutton.start:hover {
  background: #3b3b3b;
}
.PTform .fileupload-buttonbar .PTbutton.cancel {
  background: #bfbfbf;
  border-bottom-color: #9e9e9e;
}
.PTform .fileupload-buttonbar .PTbutton.cancel:hover {
  background: #9e9e9e;
}
.PTform .fileupload-buttonbar .PTbutton.delete {
  background: #ef5555;
  border-bottom-color: #c63838;
}
.PTform .fileupload-buttonbar .PTbutton.delete:hover {
  background: #c63838;
}
.PTform .fileupload-buttonbar span.PTbutton {
  line-height: 2.6em;
  padding: 3px 6px;
  height: 31px;
  margin: 0;
  display: block;
  float: left;
  font-weight: bold;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
}
.PTform .fileupload-buttonbar .fileinput-button {
  margin: 0 5px 0 0;
}
.PTform .fileupload-buttonbar .fileinput-button:hover span {
  background: #047dba;
}
.PTform.inline input[type=text] {
  height: 33px;
}
.PTform p.annotation {
  margin: 0;
  font-style: italic;
  color: #a0a0a0;
  padding: 5px 0;
  font-size: 87%;
}
.PTform .as-selection-item {
  background: #c0c0c0;
  padding: 2px 5px;
  display: block;
  float: left;
  color: #FFF;
  font-size: 1em;
  margin: 5px 10px 5px 0;
  border-bottom: 1px;
  margin-bottom: 12px;
}
.PTform .as-selection-item .as-close {
  font-weight: 800;
  float: right;
  margin-left: 5px;
  cursor: pointer;
}
.PTform .as-selection-item .as-close:hover {
  color: #0099e6;
}
.PTform .as-results {
  border: 1px solid #cdcdcd;
}
.PTform .as-results ul li {
  padding: 3px;
}
.PTform .as-results ul li:hover {
  background: #0099e6;
  color: #FFF;
  cursor: pointer;
}
.PTform .PTbutton {
  margin: 10px 0 10px auto;
  float: none;
  display: block;
}
.PTform .PTbutton:hover {
  background: #047dba;
  color: #FFF;
}
.PTform .PTbutton i.icon {
  margin-left: -10px;
}
.PTform .sublabel {
  color: #777777;
  font-size: .9em;
  width: 13%;
  float: left;
  margin-bottom: 10px;
}
.PTform hr.sublabel {
  float: left;
  width: 87%;
  border-color: #e2e2e2;
}
.PTform .footer {
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
  color: #777777;
}
.PTform div.dk_container {
  float: none;
  display: block;
  margin: 0;
  width: 100%;
}
.PTform div.dk_container div {
  margin: 0;
}
.PTform div.dk_container .dk_toggle {
  width: 445px;
  margin: 0;
  height: 33px;
  line-height: 33px;
  padding: 7px 45px 7px 10px;
}
.add_project .content {
  padding: 40px 60px;
}
.add_project .heading {
  padding: 0;
  margin-bottom: 30px;
}
.add_project ul.tabs {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  overflow: auto;
  padding: 3px 0;
  margin-bottom: 20px;
  list-style-type: none;
}
.add_project ul.tabs li a {
  float: left;
  padding: 10px 40px 10px 70px;
  border-right: 1px solid #e2e2e2;
  position: relative;
}
.add_project ul.tabs li a:hover,
.add_project ul.tabs li a.active {
  text-decoration: none;
  color: #0099e6;
}
.add_project ul.tabs li a:hover .step-label,
.add_project ul.tabs li a.active .step-label {
  color: #0099e6;
  border-color: #0099e6;
}
.add_project ul.tabs li a .step-label {
  display: block;
  position: absolute;
  left: 10px;
  top: 15px;
  margin-top: -9.5px;
  height: 25px;
  width: 25px;
  border: 1px solid #cecece;
  color: #cecece;
  line-height: 25px;
  text-align: center;
  font-size: 12pt;
  font-style: normal;
  border-radius: 10em;
}
.add_project #upload_files_container .template-upload,
.add_project #upload_files_container .template-download {
  overflow: auto;
  border: 1px solid #dedede;
  border-bottom: none;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}
.add_project #upload_files_container .template-upload div,
.add_project #upload_files_container .template-download div {
  margin: 5px 0;
}
.add_project #upload_files_container .template-upload .preview,
.add_project #upload_files_container .template-download .preview {
  float: left;
  width: 20%;
}
.add_project #upload_files_container .template-upload .infos,
.add_project #upload_files_container .template-download .infos {
  float: left;
  width: 42%;
  color: #a0a0a0;
  font-size: .9em;
}
.add_project #upload_files_container .template-upload .infos span,
.add_project #upload_files_container .template-download .infos span {
  display: block;
}
.add_project #upload_files_container .template-upload .infos span.size,
.add_project #upload_files_container .template-download .infos span.size {
  font-style: italic;
}
.add_project #upload_files_container .template-upload div.start,
.add_project #upload_files_container .template-download div.start,
.add_project #upload_files_container .template-upload div.cancel,
.add_project #upload_files_container .template-download div.cancel,
.add_project #upload_files_container .template-upload div.delete,
.add_project #upload_files_container .template-download div.delete {
  float: left;
  width: 85px;
}
.add_project #upload_files_container .template-upload div.start .PTbutton,
.add_project #upload_files_container .template-download div.start .PTbutton,
.add_project #upload_files_container .template-upload div.cancel .PTbutton,
.add_project #upload_files_container .template-download div.cancel .PTbutton,
.add_project #upload_files_container .template-upload div.delete .PTbutton,
.add_project #upload_files_container .template-download div.delete .PTbutton {
  padding: 0;
  height: 24px;
  width: 80px;
  text-transform: none;
  margin: 5px 0;
}
.add_project #upload_files_container .template-upload div.start .PTbutton.cancel,
.add_project #upload_files_container .template-download div.start .PTbutton.cancel,
.add_project #upload_files_container .template-upload div.cancel .PTbutton.cancel,
.add_project #upload_files_container .template-download div.cancel .PTbutton.cancel,
.add_project #upload_files_container .template-upload div.delete .PTbutton.cancel,
.add_project #upload_files_container .template-download div.delete .PTbutton.cancel {
  background: #bfbfbf;
  border-bottom-color: #9e9e9e;
}
.add_project #upload_files_container .template-upload div.start .PTbutton.cancel:hover,
.add_project #upload_files_container .template-download div.start .PTbutton.cancel:hover,
.add_project #upload_files_container .template-upload div.cancel .PTbutton.cancel:hover,
.add_project #upload_files_container .template-download div.cancel .PTbutton.cancel:hover,
.add_project #upload_files_container .template-upload div.delete .PTbutton.cancel:hover,
.add_project #upload_files_container .template-download div.delete .PTbutton.cancel:hover {
  background: #9e9e9e;
}
.add_project #upload_files_container .template-upload div.start .PTbutton.delete,
.add_project #upload_files_container .template-download div.start .PTbutton.delete,
.add_project #upload_files_container .template-upload div.cancel .PTbutton.delete,
.add_project #upload_files_container .template-download div.cancel .PTbutton.delete,
.add_project #upload_files_container .template-upload div.delete .PTbutton.delete,
.add_project #upload_files_container .template-download div.delete .PTbutton.delete {
  background: #ef5555;
  border-bottom-color: #c63838;
}
.add_project #upload_files_container .template-upload div.start .PTbutton.delete:hover,
.add_project #upload_files_container .template-download div.start .PTbutton.delete:hover,
.add_project #upload_files_container .template-upload div.cancel .PTbutton.delete:hover,
.add_project #upload_files_container .template-download div.cancel .PTbutton.delete:hover,
.add_project #upload_files_container .template-upload div.delete .PTbutton.delete:hover,
.add_project #upload_files_container .template-download div.delete .PTbutton.delete:hover {
  background: #c63838;
}
.add_project #upload_files_container .template-upload .progress,
.add_project #upload_files_container .template-download .progress {
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  background: #dedede;
}
.add_project #upload_files_container .template-upload .progress .bar,
.add_project #upload_files_container .template-download .progress .bar {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  height: 1px;
  background: #0099e6;
}
.add_project #upload_files_container .template-download {
  border: 1px solid #dedede;
}
.add_project #upload_files_container .template-download .infos {
  width: 60%;
}
.add_project #upload_files_container .error {
  color: #ef5555;
}
/*
   O F F E R S
   ========================================================================== */
#list_offers .blackTitle {
  margin-top: 15px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
