/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
a {
  outline: none !important;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  color: #393939;
  background: #e5e5e5;
  font-family: 'OpenSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 10pt;
  overflow-y: scroll;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body {
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    -webkit-text-stroke-width: 0.01px;
  }
}
html,
button,
input,
select,
textarea {
  font-family: 'OpenSans', sans-serif;
}
.row {
  margin: 10px auto;
}
.last {
  float: right;
}
#logout {
  background: #F55253;
  margin-right: 50px;
  margin-top: 30px;
  color: #FFF;
  -webkit-transition: background .25s ease;
  -moz-transition: background .25s ease;
  -ms-transition: background .25s ease;
  -o-transition: background .25s ease;
  transition: background .25s ease;
}
#logout:hover {
  background: #f22223;
}
#dropdown-social-network {
  padding-top: 1em;
}
.icon_social {
  padding: 5px;
}
.floatRight {
  float: right;
}
.floatRight .dropdown-menu {
  z-index: 100;
  margin-top: 10px;
  margin-left: -155px;
  padding: 15px 5px;
}
.grey {
  color: #808080;
}
.error,
.correct {
  font-weight: bold;
  display: block;
  padding: 10px 0;
}
.error {
  color: #FF0000;
}
.correct {
  color: #007CBB;
}
.annotation {
  color: #B2B2B2;
  font-style: ooblique;
  display: block;
  padding: 0 0 5px 0;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
i.icon {
  background: url(../img/PTicons.png) no-repeat 0 0;
  width: 22px;
  height: 21px;
  display: inline-block;
  line-height: 22px;
  vertical-align: text-top;
}
i.icon.pin {
  background-position: 0 0;
}
i.icon.job {
  background-position: -28px 0;
}
i.icon.web {
  background-position: -59px 0;
}
i.icon.twitter {
  background-position: -92px -1px;
}
i.icon.message {
  background-position: -124px -2px;
}
i.icon.image {
  background-position: -156px -1px;
}
i.icon.add {
  background-position: -185px -2px;
}
i.icon.cancel {
  background-position: -210px -2px;
}
i.icon.send {
  background-position: -240px -3px;
}
i.icon.delete {
  background-position: -265px -2px;
}
i.icon.push {
  background: url(../img/push.png) no-repeat center center;
  width: 25px;
  height: 25px;
}
.sleekbox h1.blackTitle {
  line-height: 42px;
  padding: 0 20px;
  font-size: 1.6em;
  font-weight: 400;
}
.subline {
  font-size: 12pt;
  font-weight: 300;
}
#btn-push {
  width: 40px;
  height: 30px;
  padding: 3px 2px;
  margin: 0;
}
.PTbutton {
  height: 26px;
  margin: 5px 0;
  letter-spacing: -0.05em;
  font-weight: 200;
  font-size: 12px;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
  background: #0099e6;
  border: none;
  border-bottom: 1px solid #007cbb;
  color: #FFF;
  text-align: center;
  padding: 5px 6px;
  height: 38px;
  display: inline-block;
  font-weight: 400;
  line-height: 2em;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.PTbutton:hover {
  background: #047dba;
}
.PTbutton:hover,
.PTbutton:active,
.PTbutton:focus {
  background: #035b88;
}
.PTbutton.start {
  background: #5e5e5e;
  border-bottom-color: #3b3b3b;
}
.PTbutton.start:hover {
  background: #3b3b3b;
}
.PTbutton.cancel {
  background: #bfbfbf;
  border-bottom-color: #9e9e9e;
}
.PTbutton.cancel:hover {
  background: #9e9e9e;
}
.PTbutton.delete {
  background: #ef5555;
  border-bottom-color: #c63838;
}
.PTbutton.delete:hover {
  background: #c63838;
}
.PTbutton.unactive {
  background-color: #0099e6;
  border-color: #0077b3;
}
.PTbutton.unactive:hover {
  background-color: #047dba;
}
.PTbutton.active {
  background-color: green;
  border-color: #004d00;
}
.PTbutton.active:hover {
  background-color: red;
  border-color: #cc0000;
  color: white;
}
.PTbutton.mini {
  font-size: 8pt;
  height: auto;
  line-height: 1.2em;
}
.PTbutton i.icon {
  margin-left: -10px;
}
.PTbutton.fluid {
  display: inline;
  padding: 2%;
  height: auto;
  line-height: inherit;
  width: auto;
}
a.PTbutton {
  line-height: 3em;
  font-size: 12px;
  font-weight: 600;
}
.titleU {
  padding: 5px 0;
  border-bottom: 1px solid #9e9e9e;
  margin-bottom: 5px;
}
.titleU .date {
  float: right;
  font-weight: 400;
  font-style: italic;
}
.alignRight {
  margin: 0 0 0 auto;
  display: block;
}
.ideal-wrap.alignRight {
  float: right;
}
a.alignCenter {
  margin: 0 auto;
  display: block;
  width: 130px;
  padding: 1px;
  height: 25px;
  line-height: 25px;
}
.tooltip {
  display: inline;
  position: relative;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip:hover {
  color: #c00;
  text-decoration: none;
}
.tooltip:hover:after {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  top: 3.35em;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  left: 1em;
  padding: .3em .5em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
}
.tooltip:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-color: rgba(0, 0, 0, 0.8) transparent;
  border-width: 0 .4em  .4em .4em;
  top: 3em;
  content: "";
  display: block;
  left: 2em;
  position: absolute;
  z-index: 99;
}
.ui-slider {
  background: #e2e2e2;
  width: 100%;
  height: 12px;
  display: block;
  position: relative;
}
.ui-slider .ui-slider-handle {
  widows: ;
}
.ui-autocomplete {
  padding: 0;
  background: #CCC;
  position: absolute;
}
.ui-autocomplete li {
  font-weight: 600;
}
.ui-autocomplete li:hover,
.ui-autocomplete li:focus,
.ui-autocomplete li.ui-state-hover {
  background: #0099e6;
  color: #FFF;
}
.ui-autocomplete li a {
  color: #333;
  display: block;
  padding: 10px;
}
.ui-autocomplete li a:hover,
.ui-autocomplete li a:focus,
.ui-autocomplete li a.ui-state-focus {
  background: #0099e6;
  color: #FFF;
}
.ui-helper-hidden-accessible {
  display: none;
}
.heading {
  font-size: 2em;
  text-transform: uppercase;
  padding: 20px 0;
  font-weight: 400;
}
.content {
  padding: 20px;
}
.thumb {
  padding: 0px;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  background: #fff;
  padding: 0;
  height: 295px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 0.25s ease;
  -moz-transition: border-color 0.25s ease;
  -ms-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}
.thumb a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}
.thumb a:hover {
  color: #0099e6;
}
.thumb:hover {
  border-bottom: 2px solid #cdcdcd;
}
.thumb:hover a {
  color: #0099e6;
}
.thumb img {
  padding: 0;
  width: 100%;
}
.thumb h3 {
  text-align: center;
  height: 38px;
  line-height: 38px;
  width: 92%;
  margin: 0 auto;
  border-top: 1px solid #d2d2d2;
}
.thumb .project_infos {
  overflow: auto;
  width: 100%;
  margin: 5px 0;
}
.thumb .project_infos .project_views {
  float: left;
  width: 24%;
  padding: 5px 3% 5px 20%;
  text-align: right;
}
.thumb .project_infos .project_pushs {
  float: right;
  width: 44%;
  padding: 5px 3%;
  text-align: left;
}
.thumb a.edit-project {
  padding: 1px 3px 1px 6px;
  font-size: 1.3em;
  background: #FFF;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}
.thumb:hover a.edit-project {
  display: block;
}
.label_views {
  background: url(../img/icon_social.png) no-repeat 0 -2px;
  height: 15px;
  width: 19px;
  margin: 0 5px 0 0;
  display: inline-block;
  vertical-align: top;
}
.label_pushs {
  background: url(../img/icon_social.png) no-repeat -21px 0px;
  height: 19px;
  width: 19px;
  margin: 0 5px 0 0;
  display: block;
  float: left;
}
.label_comments {
  background: url(../img/icon_social.png) no-repeat -40px -1px;
  height: 19px;
  width: 19px;
  margin: 0 5px 0 0;
  display: block;
  float: left;
}
.endless_container {
  float: left;
}
.tags {
  margin: 0 0 0 20px;
  overflow: auto;
}
.tags li {
  background: #c0c0c0;
  padding: 3px 8px;
  display: block;
  float: left;
  color: #FFF;
  font-size: 1em;
  margin: 5px 5px 5px 0;
  border: none;
}
.tags li a.delete {
  margin-left: 4px;
  text-align: center;
  font-size: .8em;
  font-weight: 800;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -o-transition: color .2s ease;
  -ms-transition: color .2s ease;
  transition: color .2s ease;
}
.tags li a.delete:hover,
.tags li a.delete:active {
  color: #0099e6;
}
.tags li.selected {
  background-color: #8d8d8d;
}
.tags.inline li {
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease;
  -ms-transition: background .2s ease;
  transition: background .2s ease;
}
.tags.inline li:hover {
  background: #0099e6;
}
.projectContent img {
  display: block;
  margin: 5px auto;
  max-width: 100%;
}
.projectComments h3 {
  margin: 10px 0;
  padding-left: 30px;
  background: url(../img/comments_pictos.png) no-repeat 2px -2px;
}
.projectComments h3.postComment {
  background-position: 2px -2px;
}
.projectComments h3.numberComments {
  background-position: 2px -80px;
}
.projectComments form textarea {
  background: #fbfbfb;
  border: 1px solid #BBB;
  padding: 3px;
  display: block;
  width: 100%;
  width: 97.5%;
  padding: 10px;
}
.projectComments form input {
  margin: 10px 0 10px auto;
  display: block;
  float: none;
}
.projectComments .commentList {
  padding-bottom: 20px;
}
.projectComments ul {
  border-top: 1px solid #9e9e9e;
  padding: 0 5px;
  list-style-type: none;
}
.projectComments ul li {
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid #d2d2d2;
}
.projectComments ul li img.profilePic {
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  display: block;
  float: left;
  clear: left;
  margin-top: 5px;
  margin-right: 10px;
}
.projectComments ul li .name {
  font-weight: 800;
}
.projectComments ul li .commentInfo {
  font-size: .8em;
}
.projectComments ul li p {
  margin-top: 10px;
  margin-left: 52px;
}
.projectComments ul li:last-child {
  border-bottom: none;
}
a.delete-item {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  -ms-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
a.delete-item:hover {
  opacity: .5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
a.edit-item {
  position: absolute;
  top: 20px;
  right: 40px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  -ms-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
a.edit-item:hover {
  opacity: .5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
.illustration {
  text-align: center;
}
.lastProjects {
  list-style-type: none;
  overflow: auto;
  margin-bottom: 10px;
}
.lastProjects li {
  width: 28%;
  float: left;
  margin-right: 8%;
}
.lastProjects li img {
  float: left;
  margin-top: 5px;
}
.lastProjects li ul {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  list-style-type: none;
}
.lastProjects li ul li {
  float: none;
  width: 100%;
  margin-bottom: 4px;
}
.lastProjects li.last {
  margin-right: 0;
}
.offer {
  overflow: auto;
}
.offer .titleU {
  margin-bottom: 10px;
}
.offer img {
  float: left;
  border: 5px solid #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  color: 0 0 3px rgba(0,0,0,.2);
  margin: 0 0 1px 1px;
}
.offer ul {
  float: left;
  width: 35%;
  list-style-type: none;
}
.offer .offerInfo li {
  padding: 2px 0 0 10px;
}
.offer .tags.inline {
  padding: 0;
  margin: 0;
}
.sleekbox {
  width: 100%;
  background: #FFFFFF;
  display: block;
  padding: 0;
  margin: 0;
}
.sleekbox h1,
.sleekbox h2,
.sleekbox h3,
.sleekbox h4,
.sleekbox h5,
.sleekbox h6 {
  padding: 15px 20px;
  display: block;
}
.sleekbox h4 {
  font-size: 1.5em;
  font-weight: 400;
}
.sleekbox ul.filters {
  border-top: 1px solid #e6e6e6;
}
.sleekbox ul.filters li {
  display: block;
  border-bottom: 1px solid #e6e6e6;
}
.sleekbox ul.filters li:focus ::-webkit-input-placeholder,
.sleekbox ul.filters li:hover ::-webkit-input-placeholder {
  color: #FFF;
}
.sleekbox ul.filters li:focus :-moz-placeholder,
.sleekbox ul.filters li:hover :-moz-placeholder {
  /* Firefox 18- */

  color: #FFF;
}
.sleekbox ul.filters li:focus ::-moz-placeholder,
.sleekbox ul.filters li:hover ::-moz-placeholder {
  /* Firefox 19+ */

  color: #FFF;
}
.sleekbox ul.filters li:focus :-ms-input-placeholder,
.sleekbox ul.filters li:hover :-ms-input-placeholder {
  color: #FFF;
}
.sleekbox ul.filters li:last-child {
  border-bottom: 0;
}
.sleekbox ul.filters li input::-moz-selection {
  background: #777;
}
.sleekbox ul.filters li input::selection {
  background: #777;
}
.sleekbox ul.filters li input {
  width: 84%;
  margin: 0;
  padding: 5% 8%;
  border: 0;
  display: block;
  background: transparent;
}
.sleekbox ul.filters li input:hover,
.sleekbox ul.filters li input:focus {
  background-color: #0099e6;
  color: #FFF;
}
.sleekbox ul.filters ul.tags {
  padding: 10px 0;
}
.sleekbox p {
  padding: 20px;
}
.sleekbox ::-webkit-input-placeholder {
  color: #777;
}
.sleekbox :-moz-placeholder {
  /* Firefox 18- */

  color: #777;
}
.sleekbox ::-moz-placeholder {
  /* Firefox 19+ */

  color: #777;
}
.sleekbox :-ms-input-placeholder {
  color: #777;
}
/*
   L A N D I N G  P A G E
   ========================================================================== */
.strap-1 {
  background: url(../img/landscape.png) repeat-x bottom;
  height: 450px;
  position: relative;
}
.strap-1 #logo_l {
  position: absolute;
  margin-top: 22px;
  margin-left: 30px;
}
.strap-1 .catcher {
  font-size: 1.25em;
  width: 40%;
  font-style: italic;
  color: #919191;
  margin-top: 120px;
  margin-bottom: 10px;
  text-align: center;
  position: absolute;
  padding: 0 12%;
}
.strap-1 .catcher .PTbutton {
  font-size: 1.1em;
  height: 30px;
  line-height: 30px;
  text-transform: none;
  font-style: normal;
  width: 170px;
  display: block;
  margin: 10px auto;
  background-color: #f55253;
  border-bottom-color: #e84243;
}
.strap-1 .catcher .PTbutton:hover {
  background-color: #f22223;
}
.strap-1 .box-connexion {
  background-color: #FFF;
  position: absolute;
  top: 63px;
  right: 10%;
}
.strap-1 .box-connexion .form-connexion {
  width: 85%;
  margin: 11px auto;
  line-height: 26px;
}
.strap-1 .box-connexion .form-connexion .heading-lp {
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
}
.strap-1 .box-connexion .form-connexion .button-landingPage {
  width: 100%;
  margin-top: 12px;
  padding: 0;
}
.strap-1 .box-connexion .form-connexion a {
  color: #777;
}
.strap-1 .box-connexion .form-connexion a:hover {
  color: #0099e6;
}
.strap-1 .box-connexion .form-connexion input[type=checkbox] {
  margin-right: 5px;
}
.strap-1 #planet1 {
  position: absolute;
  top: 47%;
  left: 7%;
  margin-top: 0px;
  -webkit-animation: miniWave 3s ease-in-out infinite;
}
.strap-1 #mini_fusee {
  position: absolute;
  top: 56%;
  left: 49%;
  -webkit-animation: miniWave2 2s ease-in-out infinite;
}
.strap-1 #planet2 {
  position: absolute;
  top: 46%;
  left: 60%;
}
.strap-1 #fusee_2 {
  position: absolute;
  top: 8%;
  left: 84%;
  z-index: 20;
  -webkit-animation: wave 5s ease-in-out infinite;
}
@-webkit-keyframes "wave" {
  0% {
    top: 6%;
  }
  25% {
    top: 8.5%;
  }
  50% {
    top: 6%;
  }
  75% {
    top: 10%%;
  }
  100% {
    top: 6%;
  }
}
@-webkit-keyframes "miniWave" {
  0% {
    margin-top: -6px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: -6px;
  }
}
@-webkit-keyframes "miniWave2" {
  0% {
    margin-top: -5px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: -5px;
  }
}
@-webkit-keyframes "miniWave3" {
  0% {
    margin-top: -10px;
  }
  30% {
    margin-top: 0px;
  }
  70% {
    margin-top: 0px;
  }
  100% {
    margin-top: -10px;
  }
}
.strap-2 {
  height: 430px;
  background-color: #FFF;
}
.strap-2 .row {
  margin: auto;
  padding-top: 3%;
}
.strap-2 li {
  float: left;
  text-align: left;
  width: 50%;
  position: relative;
}
.strap-2 li .rocket {
  width: 125px;
  height: 181px;
  margin: 36px auto 0 -62px;
  position: absolute;
  left: 50%;
}
.strap-2 li .desk {
  width: 176px;
  height: 195px;
  margin: 29px auto 0 -88px;
  position: absolute;
  left: 50%;
}
.strap-2 li ul {
  margin-top: 50px;
}
.strap-2 li ul li {
  font-size: 1.1em;
  display: block;
  float: none;
  position: relative;
  text-align: left;
  padding-left: 65px;
  margin: 30px 0;
  width: auto;
}
.strap-2 li ul li i {
  position: absolute;
  top: 0;
  left: 0;
  background: #0099e6;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 22px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 22px;
  -moz-background-clip: padding;
  border-radius: 22px;
  background-clip: padding-box;
  color: #FFF;
  line-height: 46px;
  text-align: center;
  font-size: 1.8em;
}
.strap-2 li ul li span {
  display: block;
  font-weight: 600;
}
.strap-2 .heading-lp {
  padding: 0;
}
.strap-2 .button-landingPage {
  clear: both;
  margin-top: 256px;
  background-color: #f55253;
  border-bottom-color: #e84243;
}
.strap-2 .button-landingPage:hover {
  background-color: #f22223;
}
.strap-3 {
  height: 472px;
  text-align: center;
}
.strap-4 {
  background-color: #FFF;
  height: 410px;
  text-align: center;
}
.button-landingPage {
  width: 280px;
}
.heading-lp {
  font-size: 1.7em;
}
/*
   H O M E
   ========================================================================== */
header.menu {
  background: #252525;
  height: 59px;
  width: 100%;
  overflow: auto;
  color: #FFFFFF;
}
header.menu .row {
  margin: 0 auto;
}
header.menu #logo {
  background: url(../img/logo.png) no-repeat 0 center transparent;
  width: 113px;
  height: 51px;
  display: block;
  float: left;
  padding: 4px 0;
}
header.menu #menu {
  list-style-type: none;
  overflow: auto;
  float: right;
}
header.menu #menu a {
  display: block;
  float: left;
  padding: 19px 50px;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.0em;
}
header.menu #menu a.active,
header.menu #menu a:hover {
  border-bottom: 4px solid #0099e6;
  height: 17px;
  background: #353535;
  color: inherit;
  text-decoration: none;
}
header.menu #menu a.profile {
  text-transform: none;
  line-height: 1.2em;
  font-size: .9em;
  text-align: right;
  padding-right: 15px;
  padding-top: 17px;
  height: 19px;
  padding-left: 30px;
  width: 120px;
}
header.menu #menu a.profile .bar_avatar {
  float: right;
  margin-left: 10px;
  margin-top: 0px;
}
header.menu #menu a.notifications {
  background: #3b3b3b;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 13px 0 16px 23px;
  color: #fefefe;
  text-align: center;
  line-height: 26px;
  display: block;
  border: none;
}
header.menu #menu a.notifications:hover {
  border: none;
}
header.menu #menu a.notifications.unread {
  background: #0099e6;
}
/*
   P R O F I L E
   ========================================================================== */
.profile {
  margin-top: 0;
  overflow: visible;
}
.profile .profile_cover {
  position: relative;
  height: 277px;
  overflow: hidden;
}
.profile .profile_cover #update_cover {
  position: absolute;
  right: 15px;
  top: 15px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 10;
  -webkit-animation: opacity 1s ease;
  -moz-animation: opacity 1s ease;
  -ms-animation: opacity 1s ease;
  -o-animation: opacity 1s ease;
  animation: opacity 1s ease;
}
.profile .profile_cover:hover #update_cover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.profile .profile_cover #update_cover_form {
  display: none;
}
.profile .profile_cover #validate_cover {
  position: absolute;
  right: 15px;
  top: 15px;
  display: none;
  z-index: 9;
}
.profile .profile_cover .modal.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  text-align: center;
  line-height: 14em;
  font-weight: 600;
  display: none;
  z-index: 7;
  cursor: move;
}
.profile .profile_cover #cover_loading {
  position: absolute;
  border: none;
  top: 220px;
  width: 0%;
  height: 2px;
  z-index: 8;
  background: #0099e6;
}
.profile .profile_cover #cover_image {
  width: 100%;
}
.profile .profile_cover #cover_image.ui-draggable {
  cursor: move;
}
.profile .profile_cover .profile_cover_infobar {
  height: 42px;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #393838;
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6393838, endColorstr=#e6393838)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6393838, endColorstr=#e6393838);
  background-color: rgba(57, 56, 56, 0.9);
  color: #FFF;
  z-index: 10;
}
.profile .profile_cover .profile_cover_infobar h1#name {
  float: left;
}
.profile .profile_cover .profile_cover_infobar .PTbutton {
  height: 1.2em;
  line-height: 1.2em;
  margin-top: 9px;
}
.profile .profile_cover .profile_cover_infobar .settings.PTbutton {
  margin-top: 9px;
  float: left;
  display: block;
  height: 1.2em;
  font-size: 1.3em;
  padding: 0 5px;
  width: auto;
  line-height: 1.3em;
  color: rgba(255, 255, 255, 0.8);
}
.profile .profile_cover .profile_cover_infobar .profile_stats {
  list-style-type: none;
  padding: 5px 0;
}
.profile .profile_cover .profile_cover_infobar .profile_stats li {
  display: block;
  float: left;
  width: 24%;
  text-align: center;
  line-height: 1.1;
  font-size: .8em;
  border-right: 1px solid #757575;
}
.profile .profile_cover .profile_cover_infobar .profile_stats li:last-child {
  border: none;
}
.profile .profile_cover .profile_cover_infobar .profile_stats li span {
  display: block;
  font-size: 1.7em;
}
.profile .profile_secondbar {
  height: 42px;
  margin-bottom: 40px;
}
.profile .profile_secondbar ul {
  list-style-type: none;
  overflow: visible;
  width: 100%;
}
.profile .profile_secondbar ul li {
  line-height: 42px;
  float: left;
  padding: 0 40px;
}
.profile .profile_secondbar ul li.last {
  float: right;
}
.profile .profile_secondbar ul li.noPad {
  padding-right: 5px;
}
.profile .profile_secondbar a {
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -o-transition: color .15s ease;
  -ms-transition: color .15s ease;
  transition: color .15s ease;
}
.profile .profile_secondbar a:hover {
  color: #0099e6;
}
.profile .profile_secondbar a.tooltip {
  display: inline-block;
  margin: 0 5px;
}
.profile .profile_secondbar a.tooltip:hover:after,
.profile .profile_secondbar a.tooltip:hover:before {
  margin-left: -20px;
  line-height: 2em;
}
.profile .profile_menubar {
  border-bottom: 1px solid #d2d2d2;
  text-align: right;
}
.profile .profile_menubar .profile_menu {
  list-style-type: none;
}
.profile .profile_menubar .profile_menu li a {
  display: block;
  float: left;
  text-transform: uppercase;
  padding: 5px 0;
  width: 49%;
  color: #333;
  text-align: center;
  font-size: 1.1em;
}
.profile .profile_menubar .profile_menu li a.active,
.profile .profile_menubar .profile_menu li a:hover {
  background: #f6f6f6;
}
.profile .profile_menubar .tags {
  display: inline;
  position: relative;
  top: 6px;
  vertical-align: bottom;
}
.profile .profile_menubar .tags li {
  float: none;
  display: inline;
  margin: 5px 0 5px 5px;
}
.profile ul.tabs {
  margin: 0;
}
.profile_pic {
  position: absolute;
  left: 50%;
  margin-left: -95px;
  top: 225px;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  border: 6px solid #FFF;
  width: 190px;
  height: 190px;
  z-index: 10;
  overflow: hidden;
}
#edit_profile .profile_pic {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border: 0;
  margin: 0;
}
#edit_profile #avatar_mask {
  overflow: hidden;
  width: 190px;
  height: 190px;
  position: relative;
  margin: 10px auto;
  padding: 0;
  display: block;
}
#edit_profile #avatar_mask #mask {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: move;
  display: none;
}
#edit_profile #avatar_mask .new_avatar {
  width: auto;
  max-width: none;
  height: auto;
  max-height: none;
  cursor: move;
}
#id_network {
  border: 1px solid #cdcdcd;
  border-radius: 0;
  background: #fcfcfc;
  -webkit-appearance: none;
  background-image: url('../img/dk_arrows.png');
  background-repeat: no-repeat;
  background-position: 96% center;
  width: 100%;
  float: left;
  height: 36px;
}
#network_list li {
  padding: 5px 10px;
  margin: 10px 0;
  width: 40%;
}
#network_list li a:hover {
  color: #0099e6;
}
#network_list li a img {
  margin-right: 5px;
}
#network_list li a.remove_social_network {
  float: right;
}
#network_list li .ico-remove {
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
#network_list li .ico-remove:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.PTform .new_social_network {
  overflow: auto;
  width: 100%;
}
.PTform .new_social_network div.fivecol {
  margin-right: 1.5%;
}
.PTform .new_social_network div.fivecol.last {
  margin-right: 0;
}
.PTform .new_social_network .PTbutton {
  margin-top: 18px;
  height: 36px;
}
.edit_avatar {
  overflow: auto;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8e/bsf2NjY0YGKIAzMARgKjFUAABgLQgFUz6MNQAAAABJRU5ErkJggg==);
}
.edit_avatar span {
  text-align: center;
  display: block;
  margin-bottom: 15px;
}
.edit_avatar .PTbutton {
  margin-top: 60%;
}
.edit_avatar #avatar_btn_crop {
  display: none;
}
.edit_avatar p label {
  display: none;
}
.no_avatar {
  line-height: 2em;
  font-weight: 800;
  padding: 50px 0;
}
.vertical {
  max-width: 100% !important;
}
.horizontal {
  max-height: 100% !important;
}
#id_avatar {
  display: none;
}
#infos_profile {
  min-height: 600px;
}
#infos_profile h1 {
  text-transform: uppercase;
  margin: 15px 0;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
}
#infos_profile .tab-formation,
#infos_profile .tab-experience {
  background-color: white;
}
#infos_profile .formation-date {
  float: left;
  width: 28%;
  margin-right: 6%;
  text-align: right;
  color: gray;
}
#infos_profile .formation-date span {
  display: block;
}
#infos_profile .experience,
#infos_profile .education {
  padding: 10px 20px;
  margin: 10px 0;
  position: relative;
  overflow: auto;
}
#infos_profile .experience:hover a.delete-item,
#infos_profile .education:hover a.delete-item,
#infos_profile .experience:hover a.edit-item,
#infos_profile .education:hover a.edit-item {
  display: block;
}
#infos_profile .experience a.delete-item,
#infos_profile .education a.delete-item,
#infos_profile .experience a.edit-item,
#infos_profile .education a.edit-item {
  display: none;
}
#infos_profile .formation-content {
  float: left;
  width: 60%;
}
#infos_profile .formation-content h3 {
  font-weight: 500;
  color: #0099e6;
}
#infos_profile .formation-content h4 {
  font-weight: 200;
  text-transform: lowercase;
}
#infos_profile #add-experience,
#infos_profile #add-education {
  font-weight: 600;
  margin: 15px;
  display: block;
}
#infos_profile #add-experience:hover,
#infos_profile #add-education:hover {
  color: #0099e6;
}
#add-education-form,
#add-experience-form {
  display: none;
  padding: 20px;
}
.edit-form {
  display: none;
  padding: 20px;
}
.PTform div.half {
  width: 36%;
  margin: 0 2% 10px 0;
  float: left;
}
.form-content .row {
  margin: 5px 0;
}
.errorlist {
  color: #F00;
}
.PTform label {
  display: block;
  padding: 5px 0;
  font-weight: 800;
}
.PTform div {
  margin: 15px 0;
}
.PTform input[type=text],
.PTform input[type=password],
.PTform input[type=email],
.PTform textarea {
  height: 25px;
  width: 95.5%;
  font-size: 15px;
  padding: 2%;
  border: 1px solid #cdcdcd;
  background: #fcfcfc;
  outline: 0;
  color: #666;
  -webkit-transition: border .2s ease;
  -moz-transition: border .2s ease;
  -o-transition: border .2s ease;
  -ms-transition: border .2s ease;
  transition: border .2s ease;
}
.PTform input[type=text]:focus,
.PTform input[type=password]:focus,
.PTform input[type=email]:focus,
.PTform textarea:focus {
  border-color: #0099e6;
}
.PTform input[type=radio] {
  margin: 10px;
}
.PTform textarea {
  height: auto;
}
.PTform select,
.PTform select[type="multiple"] {
  height: 48px;
  width: 100%;
  font-size: 15px;
  padding: 2%;
  border: 1px solid #cdcdcd;
  background: #fcfcfc;
  outline: 0;
  color: #666;
}
.PTform .file-wrap {
  position: relative;
}
.PTform .file-wrap input[type=file] {
  left: 0;
  top: 28px;
  display: block;
  width: 100%;
  height: 48px;
  z-index: 10;
  position: absolute;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  cursor: pointer;
}
.PTform .file-wrap input[type=text] {
  width: 70%;
}
.PTform .file-wrap button {
  border: none;
  border-bottom: 1px solid #007cbb;
  background: #0099e6;
  height: 26px;
  color: #FFF;
  margin: 5px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-weight: 200;
  font-size: 12px;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
  width: 26%;
  margin: 0;
  height: 47px;
  position: absolute;
  text-transform: none;
  font-size: 1em;
  right: 0;
}
.PTform .file-wrap button:hover {
  background: #047dba;
}
.PTform .file-wrap:hover button {
  background: #047dba;
}
.PTform p.annotation {
  margin: 0;
  font-style: italic;
  color: #a0a0a0;
  padding: 5px 0;
  font-size: 87%;
}
.PTform .as-selection-item {
  background: #c0c0c0;
  padding: 3px 8px;
  display: block;
  float: left;
  color: #FFF;
  font-size: 1em;
  margin: 5px 5px 5px 0;
  border: none;
  margin-bottom: 12px;
}
.PTform .as-selection-item .as-close {
  font-weight: 800;
  float: right;
  margin-left: 5px;
  cursor: pointer;
}
.PTform .as-selection-item .as-close:hover {
  color: #0099e6;
}
.PTform .as-selection-item.hasImage {
  background-color: #f0f0f0;
  color: #777777;
  padding: 5px 30px 5px 5px;
  position: relative;
}
.PTform .as-selection-item.hasImage img {
  width: 30px;
  margin-right: 5px;
}
.PTform .as-selection-item.hasImage .as-close {
  position: absolute;
  top: 0;
  right: 4px;
}
.PTform .as-results {
  border: 1px solid #cdcdcd;
}
.PTform .as-results ul li {
  padding: 3px;
}
.PTform .as-results ul li:hover {
  background: #0099e6;
  color: #FFF;
  cursor: pointer;
}
.PTform .sublabel {
  color: #777777;
  font-size: .9em;
  width: 13%;
  float: left;
  margin-bottom: 10px;
}
.PTform hr.sublabel {
  float: left;
  width: 87%;
  border-color: #e2e2e2;
}
.PTform .footer {
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
  color: #777777;
}
.PTform .dropdown {
  margin: 0;
}
.PTform .dropdown .dropdown-toggle {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 500;
}
.fileupload-buttonbar .PTbutton {
  margin: 0 5px;
  float: left;
}
.fileupload-buttonbar span.PTbutton {
  line-height: 2.6em;
  padding: 3px 12px 3px 14px;
  height: 31px;
  margin: 0;
  display: block;
  float: left;
  font-weight: bold;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
}
.fileupload-buttonbar .fileinput-button {
  margin: 0 5px 0 0;
}
.fileupload-buttonbar .fileinput-button:hover span {
  background: #047dba;
}
.nextStep {
  padding: 5px 12px;
  background: transparent;
  border: 1px solid #CCC;
  float: right;
  color: #0099e6;
  margin-top: 5px;
  margin-bottom: 50px;
}
.nextStep:hover {
  color: #0077b3;
}
/*
   A D D   N E W   P R O J E C T
   ========================================================================== */
ul.tabs {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  overflow: auto;
  padding: 3px 0;
  margin-bottom: 20px;
  list-style-type: none;
}
ul.tabs li a {
  float: left;
  padding: 10px 40px 10px 70px;
  border-right: 1px solid #e2e2e2;
  position: relative;
}
ul.tabs li a:hover,
ul.tabs li a.active {
  text-decoration: none;
  color: #0099e6;
}
ul.tabs li a:hover .step-label,
ul.tabs li a.active .step-label {
  color: #0099e6;
  border-color: #0099e6;
}
ul.tabs li a .step-label {
  display: block;
  position: absolute;
  left: 10px;
  top: 15px;
  margin-top: -9.5px;
  height: 25px;
  width: 25px;
  border: 1px solid #cecece;
  color: #cecece;
  line-height: 25px;
  text-align: center;
  font-size: 12pt;
  font-style: normal;
  border-radius: 10em;
}
.add_project .sleekbox {
  background: url(../img/DragAndDrop.png) no-repeat 64% 94% #ffffff;
}
.add_project .content {
  padding: 40px 60px;
}
.add_project .heading {
  padding: 0;
  margin-bottom: 30px;
}
.add_project #multiupload .template-upload,
.add_project #multiupload .template-download {
  overflow: auto;
  border: 1px solid #dedede;
  border-bottom: none;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}
.add_project #multiupload .template-upload div,
.add_project #multiupload .template-download div {
  margin: 5px 0;
}
.add_project #multiupload .template-upload .preview,
.add_project #multiupload .template-download .preview {
  float: left;
  width: 20%;
  max-height: 80px;
}
.add_project #multiupload .template-upload .infos,
.add_project #multiupload .template-download .infos {
  float: left;
  width: 42%;
  color: #a0a0a0;
  font-size: .9em;
}
.add_project #multiupload .template-upload .infos span,
.add_project #multiupload .template-download .infos span {
  display: block;
}
.add_project #multiupload .template-upload .infos span.size,
.add_project #multiupload .template-download .infos span.size {
  font-style: italic;
}
.add_project #multiupload .template-upload div.start,
.add_project #multiupload .template-download div.start,
.add_project #multiupload .template-upload div.cancel,
.add_project #multiupload .template-download div.cancel,
.add_project #multiupload .template-upload div.delete,
.add_project #multiupload .template-download div.delete {
  float: left;
  width: 85px;
}
.add_project #multiupload .template-upload div.start .PTbutton,
.add_project #multiupload .template-download div.start .PTbutton,
.add_project #multiupload .template-upload div.cancel .PTbutton,
.add_project #multiupload .template-download div.cancel .PTbutton,
.add_project #multiupload .template-upload div.delete .PTbutton,
.add_project #multiupload .template-download div.delete .PTbutton {
  padding: 0;
  height: 24px;
  width: 80px;
  text-transform: none;
  margin: 5px 0;
}
.add_project #multiupload .template-upload div.start .PTbutton.cancel,
.add_project #multiupload .template-download div.start .PTbutton.cancel,
.add_project #multiupload .template-upload div.cancel .PTbutton.cancel,
.add_project #multiupload .template-download div.cancel .PTbutton.cancel,
.add_project #multiupload .template-upload div.delete .PTbutton.cancel,
.add_project #multiupload .template-download div.delete .PTbutton.cancel {
  background: #bfbfbf;
  border-bottom-color: #9e9e9e;
}
.add_project #multiupload .template-upload div.start .PTbutton.cancel:hover,
.add_project #multiupload .template-download div.start .PTbutton.cancel:hover,
.add_project #multiupload .template-upload div.cancel .PTbutton.cancel:hover,
.add_project #multiupload .template-download div.cancel .PTbutton.cancel:hover,
.add_project #multiupload .template-upload div.delete .PTbutton.cancel:hover,
.add_project #multiupload .template-download div.delete .PTbutton.cancel:hover {
  background: #9e9e9e;
}
.add_project #multiupload .template-upload div.start .PTbutton.delete,
.add_project #multiupload .template-download div.start .PTbutton.delete,
.add_project #multiupload .template-upload div.cancel .PTbutton.delete,
.add_project #multiupload .template-download div.cancel .PTbutton.delete,
.add_project #multiupload .template-upload div.delete .PTbutton.delete,
.add_project #multiupload .template-download div.delete .PTbutton.delete {
  background: #ef5555;
  border-bottom-color: #c63838;
}
.add_project #multiupload .template-upload div.start .PTbutton.delete:hover,
.add_project #multiupload .template-download div.start .PTbutton.delete:hover,
.add_project #multiupload .template-upload div.cancel .PTbutton.delete:hover,
.add_project #multiupload .template-download div.cancel .PTbutton.delete:hover,
.add_project #multiupload .template-upload div.delete .PTbutton.delete:hover,
.add_project #multiupload .template-download div.delete .PTbutton.delete:hover {
  background: #c63838;
}
.add_project #multiupload .template-upload .progress,
.add_project #multiupload .template-download .progress {
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  background: #dedede;
}
.add_project #multiupload .template-upload .progress .bar,
.add_project #multiupload .template-download .progress .bar {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  height: 1px;
  background: #0099e6;
}
.add_project #multiupload .template-download {
  border: 1px solid #dedede;
  overflow: hidden;
}
.add_project #multiupload .template-download .infos {
  width: 60%;
}
.add_project #multiupload .error {
  color: #ef5555;
}
.add_project #multiupload .fileupload-progress {
  margin: 35px 0 10px 0;
  overflow: auto;
  display: block;
  width: 100%;
  clear: both;
  float: none;
}
.add_project #multiupload .fileupload-progress span {
  float: left;
  width: 30%;
}
.add_project #multiupload .fileupload-progress .progress-success {
  width: 65%;
  border: 1px solid #dedede;
  overflow: hidden;
  float: right;
  margin: 3px 0;
}
.add_project #multiupload .fileupload-progress .progress-success .bar {
  background: #0099e6;
  width: 50%;
  padding: 0;
  margin: 0;
  height: 1em;
}
.add_project .embeds textarea {
  margin-bottom: 10px;
}
.add_project .PTform .PTbutton {
  margin: 10px 0 10px auto;
  float: none;
  display: block;
}
.add_project .PTform .PTbutton:hover {
  background: #047dba;
  color: #FFF;
}
.add_project .PTbutton {
  padding: 5px 10px 5px 13px;
}
.add_project.edit .PTform .file-wrap input[type=file] {
  bottom: 28px;
  top: auto;
}
li.as-result-item {
  line-height: 30px;
}
li.as-result-item img {
  width: 30px;
  margin-right: 10px;
}
/*
   L I S T   P R O J E C T S
   ========================================================================== */
#projects {
  min-height: 600px;
}
#projects .sixcol {
  margin: 0;
}
#projects .sorting .PTform input[type=text] {
  border-left: 0;
  border-right: 0;
}
#projects .sorting .PTform ul.as-selections li.as-selection-item {
  padding: 2px 5px;
  margin: 10px 5px 0 5px;
}
#projects .sorting .PTform .as-results {
  margin: 0;
  background: #fafafa;
  border: none;
}
.dropfilters {
  overflow: visible;
  height: 70px;
  margin-top: 40px;
}
.search-form div {
  margin-top: 0;
}
.search-form #search-query {
  height: 24px;
  line-height: 2em;
}
.search-form .PTbutton {
  margin-top: 0px;
  width: 90%;
  float: right;
  height: 34px;
}
/*
   O F F E R S
   ========================================================================== */
#offers {
  margin-top: 30px;
}
.offer-controls li {
  float: left;
  margin: 5px 7px;
}
.apply_form {
  padding: 0 20px 20px 20px;
}
.apply_form .PTbutton {
  margin: 10px 0 10px auto;
  display: block;
  float: none;
}
.list_offers .PTform {
  overflow: auto;
}
.list_offers .thumb-offer {
  margin-bottom: 20px;
  height: 118px;
}
.list_offers .thumb-offer p {
  padding: 0px;
}
.list_offers .thumb-offer a {
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -o-transition: color .15s ease;
  -ms-transition: color .15s ease;
  transition: color .15s ease;
}
.list_offers .thumb-offer a:hover {
  color: #0099e6;
}
.list_offers .thumb-offer .header-offer {
  text-align: center;
  width: 95%;
  height: 45px;
  margin: 0 auto;
  line-height: 48px;
  border-bottom: 1px solid #d2d2d2;
  position: relative;
}
.list_offers .thumb-offer .header-offer .blackTitle {
  text-align: left;
  padding: 0px;
  width: 65%;
  position: absolute;
}
.list_offers .thumb-offer .header-offer .pic_company {
  position: absolute;
  right: 0;
  top: -4px;
}
.list_offers .thumb-offer .content {
  padding-top: 8px;
  line-height: 27px;
}
.list_offers .thumb-offer .content span {
  color: #0099e6;
  font-weight: 700;
}
.list_offers .thumb-offer .content .left {
  float: left;
}
.list_offers .thumb-offer .content .left .tags-offer {
  display: inline;
}
.list_offers .thumb-offer .content .left .tags-offer li {
  background: #c0c0c0;
  padding: 3px 8px;
  display: block;
  float: left;
  color: #FFF;
  font-size: 1em;
  margin: 5px 5px 5px 0;
  border: none;
  float: none;
  display: inline;
}
.list_offers .thumb-offer .content .right {
  float: right;
  text-align: right;
}
.list_offers .thumb-offer .content .right .publish-date {
  font-style: italic;
}
.ui-datepicker {
  background-color: #FFF;
  border: 1px solid #999;
}
.edit-offer .comments {
  color: #7e7e7e;
  font-style: italic;
  padding: 0;
}
/*
   P O S T E D   O F F E R S
   ========================================================================== */
.posted_offers .nb_offers {
  margin-bottom: 20px;
}
.posted_offers .nb_offers span {
  font-weight: 700;
}
.posted_offers .thumb-offer {
  background-color: #FFF;
  height: auto;
}
.posted_offers .thumb-offer .content-description {
  height: 91px;
  padding: 20px;
  line-height: 30px;
}
.posted_offers .thumb-offer .content-description .right {
  float: right;
  text-align: right;
}
.posted_offers .thumb-offer .content-description .left {
  float: left;
}
.posted_offers .thumb-offer .candidates {
  background-color: #f1f1f1;
  width: 100%;
}
.posted_offers .thumb-offer .candidates .content {
  height: auto;
}
.posted_offers .thumb-offer .candidates .content .applicant {
  width: 50%;
  float: left;
  height: auto;
  padding: 10px 0;
  position: relative;
}
.posted_offers .thumb-offer .candidates .content .applicant .name-applicant {
  font-weight: 600;
}
.posted_offers .thumb-offer .candidates .content .applicant .view-candidature {
  position: absolute;
  right: 12%;
  top: 26%;
}
.posted_offers .thumb-offer .candidates .content .content-application {
  background-color: #FFF;
  border: 1px solid #E2E2E2;
  clear: both;
}
.posted_offers .thumb-offer .candidates .content .content-application .content .PTbutton {
  margin-left: 117px;
}
.posted_offers .thumb-offer .candidates .content .novacancy {
  text-align: center;
  margin-top: 18px;
}
.posted_offers .thumb-offer .button-vacancy {
  width: 196px;
  background-color: #f55253;
  border-bottom-color: #e84243;
  margin: 20px 0 20px 37%;
}
.posted_offers .thumb-offer .button-vacancy:hover {
  background-color: #f22223;
}
.posted_offers .thumb-offer .button-novacancy {
  background-color: #A0A0A0;
  margin: 2% 37%;
  text-align: center;
  width: 206px;
}
.posted_offers .thumb-offer i {
  margin-right: 5px;
}
.posted_offers .thumb-offer .suggest_candidates {
  float: right;
}
.posted_offers i {
  opacity: 0.5;
}
/*
   D A S H B O A R D
   ========================================================================== */
#dashboard h1 {
  font-size: 1.5em;
  font-weight: 400;
}
#dashboard a.PTbutton {
  display: block;
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
#dashboard h2 {
  font-weight: 400;
  margin: 20px 0;
}
#dashboard .sidebar {
  background: #fcfcfc;
  margin-top: 5px;
}
#dashboard .sidebar .PTbutton {
  margin-top: 0;
}
#dashboard .sidebar h2 {
  padding: 0px 5px;
}
#dashboard .sidebar .notifications {
  padding: 0px 5px;
}
.stats {
  overflow: auto;
}
.stats li {
  width: 30%;
  display: block;
  height: 80px;
  float: left;
  margin-right: 5%;
  background: #f55253;
  color: #FFF;
  text-align: center;
  font-size: 2em;
}
.stats li span {
  display: block;
}
.stats li.last {
  margin-right: 0;
}
.stats li .icon {
  margin-top: 10px;
}
.stats li.push {
  background: none;
  width: 90%;
}
.stats li.push a {
  height: 25px;
  line-height: 25px;
  top: 0;
  margin-top: 0;
  display: block;
}
.offers .row {
  margin-top: 5px;
}
.offers .projects .blacksub {
  margin-bottom: 10px;
}
.offers .blacksub {
  background-color: #252525;
  color: #FFF;
  text-transform: none;
  font-weight: 400;
  padding: 0;
  height: 2em;
  padding-left: 6px;
  line-height: 2em;
  font-size: 1.3em;
}
.offers .blacksub a {
  background: #0099e6;
  float: right;
  display: block;
  height: 100%;
  padding: 0 5px;
  font-size: .8em;
  -webkit-transition: background .25s ease;
  -moz-transition: background .25s ease;
  -ms-transition: background .25s ease;
  -o-transition: background .25s ease;
  transition: background .25s ease;
}
.offers .blacksub a:hover {
  background: #00669a;
}
.offers ul li {
  padding: 40px 20px 0 20px;
  background-color: #fcfcfc;
  margin: 10px 0;
  line-height: 1.9em;
  text-align: center;
  height: 110px;
  position: relative;
}
.offers ul li a {
  color: #0099e6;
}
.offers ul li a:hover {
  color: #00669a;
}
.offers ul li a.offer {
  width: 51px;
  height: 58px;
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  text-align: right;
  padding-right: 4px;
  line-height: 1.5em;
  background: url(../img/bg-offer-status.png) no-repeat -1px -1px;
  font-size: 1.4em;
}
.offers ul li a.offer.valid {
  background-color: #0099e6;
}
.offers ul li a.offer.declined {
  background-color: #f55253;
}
.offers ul li a.offer.waiting {
  background-color: #474747;
}
.offers ul li strong {
  margin-bottom: 10px;
  display: block;
  padding: 0 40px;
}
.offers ul li .timesince {
  position: absolute;
  top: 0;
  right: 0;
  font-style: italic;
  padding-right: 10px;
  padding-top: 7px;
  color: #CCC;
}
.nb_notifications {
  margin-bottom: 10px;
  display: block;
}
.notifications li {
  background: #f6f6f6;
  padding: 8px;
  margin-bottom: 1px;
}
.notifications li span {
  display: block;
  font-size: .75em;
  font-style: italic;
  text-align: right;
  margin-top: 10px;
}
.notifications li a {
  color: #0099e6;
  -webkit-transition: color .25s ease;
  -moz-transition: color .25s ease;
  -ms-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;
}
.notifications li a:hover {
  color: #00669a;
}
.notifications li .profilepic {
  border-radius: 20px;
  float: left;
  margin-right: 10px;
}
.notifications li.unread {
  background: lightblue;
}
#notification_center h1 {
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 20px;
}
#notification_center .notifications {
  margin-top: 10px;
  padding: 5px;
  background: #f6f6f6;
}
#notification_center .notifications li {
  padding: 15px;
}
#notification_center .offers li {
  height: auto;
  padding: 15px 0 20px 0;
}
p.projecteel_infos,
h3.projecteel_infos,
h4.projecteel_infos {
  text-align: left;
  font-weight: 500;
}
h3.projecteel_infos {
  padding-bottom: 5px;
}
h4.projecteel_infos {
  font-size: 1.0em;
}
span.projecteel_infos {
  color: #0099E6;
  font-weight: bold;
}
p.projecteel_infos {
  padding-top: 0;
  color: #929292;
}
.global_explanation {
  opacity: 0.4;
}
.global_explanation:hover {
  opacity: 1;
}
/* F O O T E R */
footer {
  padding: 40px 0;
  background: #d4d4d4;
  margin-top: 30px;
}
footer h4 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 20px;
}
footer ul li {
  font-size: 1.1em;
  padding: 5px 0;
}
footer ul li span {
  font-weight: 800;
  font-size: 1.2em;
}
footer .last_projects img {
  margin-right: 5px;
}
footer a:hover {
  color: #0099e6;
}
.subfooter {
  background: #e5e5e5;
  border-top: 1px solid #b9b9b9;
  color: #919191;
  font-size: 1.1em;
  padding: 15px 0;
}
.subfooter img {
  margin-right: 10px;
}
.subfooter ul {
  width: auto;
  float: right;
}
.subfooter ul li {
  display: inline-block;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*  Form : Register */
.annotation-ok {
  color: green;
}
.annotation-error {
  color: #f55253;
}
.PTform input[type=text].input-ok,
.PTform input[type=password].input-ok {
  border: 1px solid green;
}
.PTform input[type=text].input-error,
.PTform input[type=password].input-error {
  border: 1px solid #f55253;
}
/* Sticky Menu */
#menu-filter {
  z-index: 99;
}
.container-filter.sticky {
  margin: 0;
  padding: 0;
}
.container-filter {
  margin-bottom: 0;
}
.tags li.tag-select {
  background-color: #0099e6;
  color: white;
}
