.project-header{
    color: white;

    .project-title{
        color: black;
        float: left;
        margin: 20px 2%;
        font-size: 3em;
    }

    .tags{
        width: 30%;
        float: right;
    }
}

.project-content{
    margin: 25px 0;
}


.applicant-mini{
    background-color: gray;
    overflow: hidden;
    height: 70px;
    width: 93%;
    margin: 20px 0;
    padding: 10px 4%;

    img{
        float: left;
        width: 30%;
    }

    h3, span{
        float: left;
        width: 66%;
        margin-left: 4%;

    }

    h3{
        margin-top: 10px;
        margin-bottom: 5px;
    }
}