#project h4.subline {
  font-size: 14px;
  color: #787878;
  padding: 0 20px;
  text-transform: none;
}
#project h4.subline span {
  margin-top: 3px;
  display: block;
  font-weight: 600;
  font-size: .9em;
  text-transform: none;
}
#project p {
  line-height: 1.5em;
}
#project .postComment,
#project .numberComments {
  padding: 0 0 0 35px;
}
#project .projectComments {
  padding: 0 20px;
}
#project .projectComments input[type=submit] {
  margin-top: 15px;
}
#project .commentList p {
  padding: 0;
}
#project .stats {
  padding-top: 10px;
}
#project .stats li {
  width: 27%;
  height: 65px;
  line-height: 1em;
}
#project .stats li span {
  font-size: .85em;
}
#project .stats li i {
  margin-top: 6px;
}
p.location {
  padding-bottom: 5px;
}
.project-header {
  color: #3a3a3a;
  margin-top: 0;
  padding-top: 10px;
}
.project-header .project-title {
  margin: 0;
}
.project-header .project-stats {
  list-style-type: none;
  padding: 5px 0px;
}
.project-header .project-stats li {
  float: left;
  width: 33%;
  text-align: center;
  line-height: 1.1;
  font-size: .8em;
  border-right: 1px solid #757575;
}
.project-header .project-stats li:last-child {
  border: none;
}
.project-header .project-stats li span {
  display: block;
  font-size: 1.7em;
}
.project-header .project-stats li .PTbutton {
  height: 13px;
  margin-top: 0;
  line-height: 1.2em;
}
.project-header .PTbutton {
  position: relative;
  top: 3px;
}
.image-title {
  padding-bottom: 0;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}
img.project-content {
  display: block;
  margin: 0 auto;
}
#project-author .applicant-mini {
  overflow: hidden;
  padding: 30px 4%;
  text-align: center;
}
#project-author .applicant-mini a {
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -o-transition: color .15s ease;
  -ms-transition: color .15s ease;
  transition: color .15s ease;
}
#project-author .applicant-mini a:hover {
  color: #0099e6;
}
#project-author .applicant-mini img#profile_pic {
  margin: 0 auto 10px auto;
  -webkit-border-radius: 40px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 40px;
  -moz-background-clip: padding;
  border-radius: 40px;
  background-clip: padding-box;
}
#project-author .applicant-mini span.profession {
  display: block;
  color: #777777;
  font-style: italic;
  margin-bottom: 15px;
}
#project-author .applicant-mini a.PTbutton {
  margin: 0 3px;
  height: 20px;
  padding: 5px 8px;
  display: inline-block;
  line-height: 20px;
}
#project-author .applicant-mini a.PTbutton.active:hover {
  background: red;
}
#project-author .applicant-mini a.PTbutton:hover {
  background: #007ab8;
  color: #FFF;
}
#project-author .applicant-mini h3 {
  text-transform: uppercase;
  font-weight: 400;
  padding: 5px;
}
#project-author .applicant-mini i.icon {
  margin-left: 0;
}
#project-author .participants {
  background: #f6f6f6;
  padding: 18px;
  overflow: visible;
}
#project-author .participants span {
  color: #777777;
  margin-right: 10px;
}
#project-author .participants img {
  -webkit-border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 30px;
  -moz-background-clip: padding;
  border-radius: 30px;
  background-clip: padding-box;
  border: 3px solid #FFF;
  margin: 0 3px;
}
#project-author h4 {
  text-transform: none;
  font-weight: 400;
  font-size: 1.2em;
  padding: 20px 20px 5px 20px;
}
#project-author .tags {
  margin-top: 15px;
  padding-bottom: 15px;
}
#project-author .tags i {
  float: left;
  margin-right: 7px;
  font-size: 1.3em;
  margin-top: 9px;
}
.container-filter {
  height: 48px;
  width: 100%;
  background-color: white;
  border-top: #cdcdcd 1px solid;
  border-bottom: #cdcdcd 1px solid;
  margin: 2em 0;
}
.container-filter .row {
  overflow: visible;
  margin: 0 auto;
}
.container-filter .dropfilters {
  height: 48px;
  overflow: visible;
}
.container-filter .dropfilters .filter-dropdown {
  overflow: visible;
  width: 100px;
}
.container-filter .dropfilters .twocol {
  margin: 0;
  padding: 0;
  overflow: visible;
}
.container-filter .dropfilters .dropdown {
  border-right: #cdcdcd 1px solid;
  border-left: #cdcdcd 1px solid;
}
.container-filter .dropfilters .dropdown {
  height: 48px;
}
.container-filter .dropfilters .dropdown-toggle {
  font-weight: 700;
  height: 22px;
  padding: 13px;
}
.container-filter .search-form {
  margin: 6px 0;
}
#project-body .project-controls {
  text-align: right;
  overflow: auto;
  padding-right: 10px;
}
#project-body .btn-edit-project,
#project-body .btn-delete-project {
  width: auto;
  margin: 10px 4px;
  height: 20px;
  display: inline-block;
  line-height: 1.8em;
  padding: 5px 10px;
  clear: both;
}
.dropdown .select {
  font-weight: 700;
  color: #cdcdcd;
}
/* Formation */
#infos_profile .tab-experience {
  background-color: white;
}
