@import "lesshat.less";
@import "mixins.less";
@PTblue : #0099e6;

#project{
    h4.subline{
        font-size: 14px;
        color: #787878;
        padding: 0 20px;
        text-transform: none;
        span{
            margin-top: 3px;
            display: block;
            font-weight: 600;
            font-size: .9em;
            text-transform: none;
        }
    }
    p{
        line-height: 1.5em;
    }
    .postComment, .numberComments{
        padding:0 0 0 35px;
    }
    .projectComments{
        padding: 0 20px;
        input[type=submit]{
            margin-top:15px;
        }
    }
    .commentList {
        p{
            padding: 0;
        }
    }
    .stats{
        padding-top: 10px;
        li{
            width: 27%;
            height: 65px;
            line-height: 1em;
            span{
                font-size: .85em;
            }
            i{
                margin-top: 6px;
            }
        }
    }
}
p.location{
    padding-bottom: 5px;
}

.project-header{
    color: #3a3a3a;
    // background:#3a3a3a;
    // height:42px;
    margin-top:0;
    padding-top: 10px;

    .project-title{
        margin: 0;
    }

    .project-stats{
        list-style-type: none;
        padding:5px 0px;
        li{
            float:left;
            width:33%;
            text-align:center;
            line-height: 1.1;
            font-size: .8em;
            border-right: 1px solid #757575;
            &:last-child{
                border:none;
            }
            span{
                display: block;
                font-size: 1.7em;
            }
            .PTbutton{
                height: 13px;
                margin-top: 0;
                line-height: 1.2em;
            }
        }
    }
    .PTbutton{
        position: relative;
        top: 3px;
    }
}

.image-title{
    padding-bottom: 0;
    text-align:center;
    font-size:1em;
    font-weight:600;
}


img.project-content{
    display: block;
    margin: 0 auto;
}

#project-author{

    .applicant-mini{
        overflow: hidden;
        padding: 30px 4%;
        text-align:center;

        a{
            .PTlink();
        }

        img#profile_pic{
            margin: 0 auto 10px auto;
            .border-radius(40px);
        }

        span.profession{
            display: block;
            color: #777777;
            font-style: italic;
            margin-bottom: 15px;
        }
        a.PTbutton{
            margin: 0 3px;
            height: 20px;
            padding: 5px 8px;
            display: inline-block;
            line-height: 20px;

            &.active{
                &:hover{
                    background: red;   
                }
            }
            &:hover{
                background: #007ab8;
                color: #FFF;
            }
        }
        h3{
            text-transform: uppercase;
            font-weight: 400;
            padding: 5px;
        }
        i.icon{
            margin-left: 0;
        }

    }
    .participants{
        background: #f6f6f6;
        padding: 18px;
        overflow: visible;
        span{
            color: #777777;
            margin-right: 10px;
        }
        img{
            .border-radius(30px);
            border: 3px solid #FFF;
            margin: 0 3px;
        }
    }
    h4{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.2em;
        padding: 20px 20px 5px 20px;
    }
}



// Filter bar
@heightBar : 48px;
.container-filter{
    height: @heightBar;
    width: 100%;
    background-color: white;
    border-top: #cdcdcd 1px solid;
    border-bottom: #cdcdcd 1px solid;
    margin: 2em 0;

    .row{
        overflow: visible;
        margin: 0 auto;
    }

    .dropfilters{
        height: @heightBar;

            overflow: visible;

        .filter-dropdown{

            overflow: visible;
            width: 100px;
        }

        .twocol{
            margin: 0;
            padding: 0;
            overflow: visible;
        }

        .dropdown{
            border-right: #cdcdcd 1px solid;
            border-left: #cdcdcd 1px solid;
        }

        .dropdown{
            height: @heightBar;
        }

        .dropdown-toggle{
            font-weight: 700;
            height: 22px;
            padding: 13px;
        }


    }

    .search-form{
        margin: 6px 0;
    }

}

#project-body .project-controls{
    text-align: right;
    overflow: auto;
    padding-right: 10px;
}

#project-body .btn-edit-project, #project-body .btn-delete-project{
    width: auto;
    margin: 10px 4px;
    height: 20px;
    display: inline-block;
    line-height: 1.8em;
    padding: 5px 10px;
    clear: both;
}

.dropdown .select{
    font-weight: 700;
    color: #cdcdcd;
}

