{% load staticfiles %}
{% load tags %}
{% load thumbnail %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- 1140px Grid styles for IE -->
        <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" STATIC="screen" /><![endif]-->
        <link rel="stylesheet" href="{% static "css/style.css" %}">

         <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css"> -->
        <!-- Generic page styles -->
        {# <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"> #}
        <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
         <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-image-gallery.min.css"> -->
        <link rel="stylesheet" href="{% static "css/jquery.fileupload-ui.css" %}">

        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.8.3.min.js" %}"><\/script>')</script>
        <script src="{% static "js/vendor/modernizr-2.6.2.min.js" %}"></script>

        <script>
            var django = {
                "jQuery": jQuery
            };
        </script>

        <script src="{% static "js/jquery.autoSuggest.minified.js" %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header class="menu">
            <div class="row">
                <a href="/" id="logo"></a>
                <ul id="menu" class="sixcol">
                    <li><a class="{% active request "^/projects/" %}" href="/projects/">Projets</a></li>
                    <li><a class="{% active request "^/offers/" %}" href="/offers/">Offres</a></li>

                    {% if myself %}
                    <li><a class="{% active request "^/profile/" %} profile" href="/profile/">

                    {% thumbnail user_avatar "28x28" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="bar_avatar">
                    {% empty %}
                        <img src="{{ STATIC_URL }}img/empty_profile.png" width="28" height="28" class="bar_avatar"/>
                    {% endthumbnail %}
                    {{ myself.first_name }}<br>
                    {{ myself.last_name }}
                    </a></li>
                    {% else %}
                        <li><a class="{% active request "^/profile/" %}" href="/profile/">

                        Profil

                    </a></li>
                    {% endif %}



                    {% if myself %}
                    {% if unread_notifications > 0 %}
                        <li><a class="notifications unread" href="/dashboard/notifications/" alt="{{ unread_notifications }} notifications non lues">{{ unread_notifications }}</a></li>
                    {%else%}
                        <li><a class="notifications" alt="Pas de nouvelles notifications" href="/dashboard/notifications/">0</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
        </header>
        {# {{ request.user.id }} #}

        {% block content %}
        {% endblock %}

        <footer>
            <section class="row" id="footer">
                <div class="threecol">
                    <h4>Projecteel en chiffres</h4>
                    <ul>
                        <li><span>1750</span> membres</li>
                        <li><span>2358</span> projets</li>
                        <li><span>82</span> entreprises</li>
                        <li><span>410</span> offres d'emploi</li>
                    </ul>
                </div>
                <div class="fourcol last_projects">
                    <h4>Derniers projets</h4>
                    {% if footer_projects%}
                        {% for project in footer_projects%}
                            <a href="/project/{{ project.slug }}" title="">
                                {% thumbnail project.thumbnail "60x60" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% empty %}
                                    <img src="{{ STATIC_URL }}img/default_project_mini.jpg" width="60" height="60"/>
                                {% endthumbnail %}
                            </a>
                        {% endfor %}
                    {% endif%}
                </div>
                <div class="threecol">
                    <h4>Dernières offres</h4>
                    <ul>
                        {% if offers %}
                            {% for offer in offers %}
                                <li><a href="/offer/get/{{ offer.slug }}" title="">{{ offer.title }}</a></li>
                            {% endfor %}
                        {% endif%}
                    </ul>
                </div>
                <div class="twocol last">
                    <h4>Contact</h4>
                    <ul>
                        <li><i class="ico-envelope-alt"></i> Contact</li>
                        <li><i class="ico-facebook-sign"></i> Facebook</li>
                        <li><i class="ico-twitter-sign"></i> Twitter</li>
                    </ul>
                </div>
            </section>
        </footer>
        <section class="subfooter">
            <div class="row">
                <img src="{{ STATIC_URL }}img/mini-logo.png" alt=""> &copy; 2013
                <ul>
                    <li>Mentions légales |</li>
                    <li>Centre d'aide |</li>
                    <li>CGU</li>
                </ul>
            </div>
        </section>

        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
