{% extends "layout/base.html" %}

{% block title %} Project {{ slug }} {% endblock %}

{% block content %}
    <h1>Add Project </h1>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <h2>Partie 1</h2>
        {{form.title.label}}{{ form.title }}
        {{form.categories.label}} {{ form.categories }}
        {{form.content.label}} {{ form.content }}

        <h3>Content</h3>
        <!-- Vidéo & Image -->
        {{ form.images.label }} {{ form.images }}

        <h2> Partie 2</h2>
        {{form.participant.label}}{{ form.participant }}
        {{form.cadre.label}} {{ form.cadre }}
        {{form.state.label}} {{ form.state }}
        {{form.period.label}} {{ form.period }}
        {{form.location.label}} {{ form.location }}

        <h2> Partie 3 - Liste des Tags</h2>
        {{form.tags.label}} {{ form.tags }}
        {{form.equipments.label}} {{ form.equipments }}

        <input type="submit" value="Submit">
    </form>
{% endblock %}


