{% extends "layout/base.html" %}
{% load upload_tags %}

{% block title %} Project {{ slug }} {% endblock %}


{% block content %}
    <section class="row add_project">
        <div class="sleekbox">
            <div class="content">
                <h1 class="heading">Ajouter projet</h1>
                {% if form.errors %}
                <div id="form-error" style="color: red;">
                    <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
                    <ul>
                    {% for field in form %}
                        {% if field.errors%}
                            <li>{{field.name}} {{ field.errors|striptags }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="row">
                    <div class="sixcol">
                        <!-- <a id="remove" href="/project/remove/{{project_id}}" alt="Remove Project" />Remove</a> -->
                        <ul class="tabs">
                            <li><a href="#etape1"><i class="step-label">1</i>Etape 1</a></li>
                            <li><a href="#etape2"><i class="step-label">2</i>Etape 2</a></li>
                        </ul>

                        <form action="" class="PTform" method="post" id="add_project" action="" >
                            {% csrf_token %}

                            <!-- TAB -->
                            <section id="etape1">
                                <!-- Heading -->
                                <div>
                                    <label for="">{{form.title.label}}</label>
                                    {{ form.title }}
                                </div>
                                {{ form.thumbnail }}
                                <div class="file-wrap">
                                    <label>Vignette</label>

                                    <!--<input type="file" name="thumbnail" id="thumbnail" autocomplete="off">
                                    <input type="text" class="file-holder" autocomplete="off" disabled>
                                    <button type="button"><i class="icon image"></i> Choisir</button>
                                    <p class="annotation">(< 1Mo, > 300x250px)</p>-->
                                </div>
                                <div>
                                    <label for="">{{form.categories.label}}</label>
                                    {{ form.categories }}
                                </div>
                                <div>
                                    <label for="">{{form.content.label}}</label>
                                    {{ form.content }}
                                </div>
                                <div>
                                    <label for="">Médias</label>
                                    <label class="sublabel">par URL</label>
                                    <hr class="sublabel"/>
                                   <div class="embeds">
                                        <textarea name="embed" rows="10" cols="30"></textarea>
                                    </div>
                                    <button id="add_video" class="PTbutton" alt="Add Embed Content" /><i class="icon add"></i>Ajouter</button>

                                    <label class="sublabel">par fichier</label>
                                    <hr class="sublabel"/>
                                </div>
                                <div id="multiupload">
                                    <div class="row fileupload-buttonbar">
                                        <div>
                                            <span class="btn btn-primary fileinput-button">
                                                <span class="PTbutton"><i class="icon add"></i>Ajouter</span>
                                                <input type="hidden" name="project_id" value="{{ project_id }}" >
                                                <input type="file" name="file" multiple>
                                            </span>
                                            <button type="submit" class="btn btn-success start PTbutton">
                                                <i class="icon send"></i>
                                                <span>Envoyer</span>
                                            </button>
                                            <button type="reset" class="btn btn-warning cancel PTbutton">
                                                <i class="icon cancel"></i>
                                                <span>Annuler</span>
                                            </button>
                                            <button type="button" class="btn btn-danger delete PTbutton">
                                                <i class="icon delete"></i>
                                                <span>Supprimer</span>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- The global progress information -->
                                    <div class="fileupload-progress">
                                        <!-- The global progress bar -->
                                        <span>Liste des fichiers ajoutés</span>
                                        <div class="progress progress-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                            <div class="bar" style="width:0%;"></div>
                                        </div>
                                        <!-- The extended global progress information -->
                                        <div class="progress-extended">&nbsp;</div>
                                    </div>
                                    <!-- The table listing the files available for upload/download -->
                                    <ul id="upload_files_container">
                                    </ul>
                                </div>

                                <div class="footer">
                                    <div class="twocol">Etape 1 sur 2</div>
                                    <button class="PTbutton next">Etape suivante</button>
                                </div>


                            </section> <!-- END TAB -->

                            <section id="etape2">
                                <!-- Vidéo & Image -->
                                <div>
                                    <label for="">{{ form.images.label }}</label>
                                    {{ form.images }}
                                </div>
                                <div>
                                    <label for="">{{form.participant.label}}</label>
                                    {{ form.participant }}
                                </div>
                                <div>
                                    <label for="">{{form.cadre.label}}</label>
                                    {{ form.cadre }}
                                </div>
                                <div>
                                    <label for="">{{form.state.label}}</label>
                                    {{ form.state }}
                                </div>
                                <div>
                                    <label for="">{{form.period.label}}</label>
                                    {{ form.period }}
                                </div>
                                <div>
                                    <label for="">{{form.location.label}}</label>
                                    {{ form.location }}
                                </div>
                                <div>
                                    <label for="">{{form.tags.label}}</label>
                                    {{ form.tags }}
                                </div>

                                <div class="footer">
                                    <div class="twocol">Etape 2 sur 2</div>
                                    <input type="hidden" name="project_id" value="{{ project_id }}" >
                                    <input type="submit" class="PTbutton" value="Envoyer">
                                </div>

                            </section>

                        </form>
                    </div>
                </div>



            </div>
        </div>
    </section>
<script>
    $().ready(function(){
        $("#remove").click(function(){
          $.get($(this).attr("href"), function(data) {
              alert(data);

            });
          return false;
        });

        $('#add_video').click(function(e){
            e.preventDefault();s
            var plop = $(".embeds").children("textarea:last");
            plop.after(plop.clone(true));
        });

        //bind step1 button to trigger tab menu click
        $(".next").on('click',function(e){
            e.preventDefault();
            $("ul.tabs a[href=#etape2]").click();
        });

        window.onbeforeunload = function (e) {
                var e = e || window.event;
                var msg = 'Vos modifications du projet seront perdues.';

                // For IE and Firefox
                if (e) {
                    e.returnValue = msg;
                }

                // For Safari / chrome
                return msg;
        }

        $('#add_project').submit(function(){
           window.onbeforeunload = false; 
        });

        //custom input file
        // $('#id_thumbnail').bind('change focus click',fileInputs);
        //slider for period
        // var slider = $('<div id="period_slider"></div>').slider({
        //   value:3,
        //   min: 1,
        //   max: 52,
        //   step: 1,
        // });
        // $("#id_period").after(slider);

});

       (function ($) {

            $(document).ready(function (){
                var p = $("#id_location");
                // var container = $('<div></div>').addClass('as-results');
                // var list = $('<ul></ul>').addClass('as-list');

                p.autoSuggest("/list/location", {
                    asHtmlID: "id_location__tagautosuggest",
                    startText: "Tapez un lieu ici",
                    emptyText: "Aucun résultat",
                    limitText: "Vous ne pouvez plus ajouter de lieu",
                    preFill: "",
                    queryParam: 'q',
                    retrieveLimit: 20,
                    minChars: 1,
                    neverSubmit: false,
                    showResultList : true,
                    resultsHighlight : true,
                    selectionAdded: function(elem){
                        elem.hide();
                    },
                    resultClick: function(data){
                       p.val(data.attributes.value)
                   },

                });

                // container.append(list).hide();
                // p.after(container);


            });
        })(django.jQuery);



var fileInputs = function() {
  var $this = $(this),
      $val = $this.val(),
      valArray = $val.split('\\'),
      newVal = valArray[valArray.length-1],
      $button = $this.siblings('button'),
      $fakeFile = $this.siblings('.file-holder');
      if(newVal !== '') {
            $fakeFile.attr('value',newVal);
      }
};
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}js/tmpl.min.js"></script>
<script src="{{ STATIC_URL }}js/load-image.min.js"></script>
<script src="{{ STATIC_URL }}js/canvas-to-blob.min.js"></script>
{# <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> #}
{# <script src="{{ STATIC_URL }}js/bootstrap-image-gallery.min.js"></script> #}
<script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload-fp.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script>
<script src="{{ STATIC_URL }}js/locale.js"></script>
<script src="{{ STATIC_URL }}js/upload.js"></script>
<script src="{{ STATIC_URL }}js/csrf.js"></script>
<script>
    console.log($.autoSuggest);
</script>
{% endblock %}


