{% load thumbnail %}

<li>
    {% thumbnail comment.profile.avatar "40x40" crop="left" as avat %}
    <img src="{{ avat.url }}" class="profilePic" alt="">
    {% endthumbnail %}
    <span class="name">{{ comment.profile.user.last_name }} {{ comment.profile.user.first_name}}</span>
    <span class="commentInfo"> - {{comment.publish_date}}</span>
    <p>{{comment.content}}</p>
    {% if user_id == comment.profile.user_id %}
        <a class="delete-item" href="/comment/delete/{{comment.id}}">X</a>
    {% endif %}
</li>