{% extends "layout/base.html" %}
{% load staticfiles %}


{% block title %} Projects {% endblock %}
{% block content %}

    <div class="row wrapper" id="projects">
        <h1 class="heading">Projects</h1>

        <div class="row PTform dropfilters">
            <div class="sixcol">
                <select class="search-field" id="search-categories" name="search-categories">
                    <option value="all">Tous les catégories</option>
                    {% for categorie in categories %}
                    <option value="{{categorie.slug}}">{{categorie.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="sixcol last">
                <select class="search-field" id="search-filter" name="search-filter">
                    <option value="pushs">Les plus pushés</option>
                    <!-- <option value="views">Les plus vues</option> -->
                    <option value="comments">Les plus commentés</option>
                    <option value="recents">Les plus récents</option>
                    <option value="views">Les plus vues</option>
                </select>
            </div>
        </div>


        <div class="sorting threecol">


            <div class="sleekbox PTform">

                <form action="" id="projectFilters">
                    <ul class="filters">
                        <ul class="tags inline">
                        {% for tag in tags %}
                            <li><a href="/projects/search/?tags[]={{tag.slug}}"> {{ tag.name }} </a></li>
                        {% endfor %}
                        </ul>

                        <li class="tag">
                            <input class="search-field autocomplete" id="search-tags" type="text" name="keywords-sorting">
                        </li>
                        <li class="region">
                            <input class="search-field autocomplete" id="search-location" type="text" name="location">
                        </li>
                        <li class="tag">
                            <input class="search-field range" type="text" id="search-durationmin">
                            <input class="search-field range" type="text" id="search-durationmax">
                        </li>
                        <li>
                            <select class="search-field" id="search-when" name="search-when">
                                <option value="1">Aujourd'hui</option>
                                <option value="7">Cette semaine</option>
                                <option value="30">Ce mois</option>
                                <option value="0" selected>Toujours</option>
                            </select>
                        </li>
                        <li class="tag">
                            <input class="search-field autocomplete" type="text" id="search-skills" >
                        </li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="list-projects ninecol last">
            <div class="PTform inline">
                    <form action="/projects/search/" class="search-form project-search" method="get">
                    {% csrf_token %}
                    <input class="search-field" id="search-query" type="text" name="query">
                    <input type="submit">
                </form>
            </div>
            <div id="list-content">{% include endless_part %}</div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.autoSuggest.minified.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script src="{{ STATIC_URL }}js/search-engine.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 20
        });


        $().ready(function(){
            searchEngine.init($('#list-content'));
        });

    </script>
{% endblock %}
