{% extends "layout/base.html" %}
{% load staticfiles %}


{% block title %} Projects {% endblock %}
{% block content %}

    <div class="container-filter">
        <!--<h1 class="heading">Projects</h1>-->

        <div class="row dropfilters">

            <div class="PTform inline threecol">
                    <form action="/projects/search/" class="search-form project-search" method="get">
                    {% csrf_token %}
                    <div class="elevencol">
                        <input class="search-field" id="search-query" type="text" name="query" placeholder="Rechercher un projet...">
                    </div>
                    <input type="submit" class="PTbutton onecol">
                </form>
            </div>

            <div class="twocol">
                <div class="dropdown search-field dropdown-search" id="search-categories">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Catégorie</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        {% for categorie in categories %}
                        <li><a id="" href="#" title="" data-value="{{categorie.slug}}">{{categorie.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="twocol">
                <div class="dropdown search-field dropdown-search" id="search-filter">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-value="pushs" href="#">Les plus pushés</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#" title="" data-value="comments">Les plus commentés</a></li>
                        <li><a href="#" title="" data-value="recents">Les plus récents</a></li>
                        <li><a href="#" title="" data-value="views">Les plus vus</a></li>
                    </ul>
                </div>
            </div>

            <div class="twocol">
                <div class="dropdown search-field dropdown-search" id="search-when">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-value="0" href="#">Toujours</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#" title="" data-value="1">Aujourd'hui</a></li>
                        <li><a href="#" title="" data-value="7">Cette semaine</a></li>
                        <li><a href="#" title="" data-value="30">Ce mois</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row wrapper" id="projects">
        <div class="sorting threecol">


            <div class="sleekbox PTform">

                <form action="" id="projectFilters">
                    <ul class="filters">
                        <ul class="tags inline">
                        {% for tag in tags %}
                            <li><a href="/projects/search/?tags[]={{tag.slug}}"> {{ tag.name }} </a></li>
                        {% endfor %}
                        </ul>

                        <li class="tag">
                            <input class="search-field autocomplete" id="search-tags" type="text" name="keywords-sorting">
                        </li>
                        <li class="region">
                            <input class="search-field autocomplete" id="search-location" type="text" name="location">
                        </li>
                        <li class="tag">
                            <input class="search-field autocomplete" type="text" id="search-skills" >
                        </li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="list-projects ninecol last">
            
            <div id="list-content">{% include endless_part %}</div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.autoSuggest.minified.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script src="{{ STATIC_URL }}js/search-engine.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 20
        });


        $().ready(function(){
            searchEngine.init($('#list-content'));
        });

    </script>
{% endblock %}
