{% extends "layout/base.html" %}
{% load staticfiles %}


{% block title %} Projects {% endblock %}
{% block content %}

    <div class="container-filter" id="menu-filter">

        <div class="row dropfilters" >
            <div class="inline threecol">
                <form action="/projects/search/" class="search-form project-search PTform" method="get">
                    {% csrf_token %}
                    <div class="tencol se">
                        <input class="search-field" id="search-query" type="text" name="query" placeholder="Rechercher un projet...">
                    </div>
                    <div class="twocol last">
                        <button type="submit" class="PTbutton"><i class="ico-search ico-white"></i></button>
                    </div>
                </form>
            </div>

            <div class="twocol">
                <div class="dropdown search-field dropdown-search" id="search-categories">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-value="all" href="#">Toutes les catégories</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a id="" href="#" title="" data-value="all" class="select">Toutes les catégories</a></li>
                        {% for categorie in categories %}
                        <li><a id="" href="#" title="" data-value="{{categorie.slug}}">{{categorie.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="twocol">
                <div class="dropdown search-field dropdown-search" id="search-filter">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-value="pushs" href="#">Les plus pushés</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#" title="" class="select" data-value="pushs">Les plus pushés</a></li>
                        <li><a href="#" title="" data-value="comments">Les plus commentés</a></li>
                        <li><a href="#" title="" data-value="recents">Les plus récents</a></li>
                        <li><a href="#" title="" data-value="views">Les plus vus</a></li>
                    </ul>
                </div>
            </div>

            <div class="twocol">
                <div class="dropdown search-field dropdown-search" id="search-when">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-value="0" href="#">Toujours</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#" title="" data-value="1">Aujourd'hui</a></li>
                        <li><a href="#" title="" data-value="7">Cette semaine</a></li>
                        <li><a href="#" title="" data-value="30">Ce mois</a></li>
                        <li><a href="#" title="" class="select" data-value="0">Toujours</a></li>
                    </ul>
                </div>
            </div>

            <div class="twocol filter-details-button last">
                <button class="PTbutton" id="see-filter-sup">Plus de détails <i class="ico-angle-down"></i></button>
            </div>
        </div>
    </div>

    <div class="container-filter-sup" id="menu-filter-sup">
        <div class="row filter-sup">
            <div class="fourcol">
                <h3>Tags</h3>
                <ul class="tags inline">
                {% for tag in tags %}
                    <li><a class="search-field search-tag" data-tag="{{tag.slug}}" data-type="tags" href="#"> {{ tag.name }} </a></li>
                {% endfor %}
                </ul>
            </div>

            <div class="fourcol">
                <h3>Skills</h3>
                <ul class="tags inline">
                {% for tag in skills %}
                    <li><a class="search-field search-tag" data-tag="{{tag.slug}}" data-type="skills" href="#"> {{ tag.name }} </a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

  <div class="row wrapper" id="projects">
        <div class="list list-projects twelvecol last">
            <div id="list-content">{% include endless_part %}</div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.autoSuggest.minified.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script src="{{ STATIC_URL }}js/search-engine.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 20
        });


        $().ready(function(){
            searchEngine.init($('#list-content'), true);

            var sticky_navigation_offset_top = $('#menu-filter').offset().top;

            // our function that decides weather the navigation bar should have "fixed" css position or not.
            var sticky_navigation = function(){
                var scroll_top = $(window).scrollTop(); // our current vertical position from the top

                // if we've scrolled more than the navigation, change its position to fixed to stick to top,
                // otherwise change it back to relative
                if (scroll_top > sticky_navigation_offset_top) {
                    $('#menu-filter').addClass('sticky');
                    $('#menu-filter').css({ 'position': 'fixed', 'top':0, 'left':0 });
                    $('#menu-filter-sup').css({ 'position': 'fixed', 'top': $('#menu-filter').height(), 'left':0 });
                } else {
                    $('#menu-filter').removeClass('sticky');
                    $('#menu-filter').css({ 'position': 'relative'});
                    $('#menu-filter-sup').css({ 'position': 'relative', 'top':0, 'left':0  });
                }
            };

            // run our function on load
            sticky_navigation();

            // and run it again every time you scroll
            $(window).scroll(function() {
                 sticky_navigation();
            });

            $('#see-filter-sup').click(function(){
                $('.container-filter-sup').slideToggle();
            })
        });


    </script>
{% endblock %}
