{% load thumbnail %}
{% if project %}
    <div class="thumb {{nb_col}} {% if last %}last{%endif%}">

                {% thumbnail project.thumbnail "210x166" crop="center" as im %}
                <a href="{{ project.get_absolute_url }}"><img src="{{ im.url }}" alt="" /></a>
                {% endthumbnail %}

                <div class="project_infos">
                    <div class="project_views"><span class="label_views"></span>{{ project.views }}</div>
                    <div class="project_pushs"><span class="label_pushs"></span>{{ project.likes.count }}</div>
                </div>
                <h3><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h3>
            </a>
        </div>
{% endif %}