{% load thumbnail %}
{% load staticfiles %}
{% if project %}
    <div class="thumb {{nb_col}} {% if last %}last{%endif%}">
        {% if project.thumbnail %}
            {% thumbnail project.thumbnail "210x166" crop="center" as im %}
            <a href="{{ project.get_absolute_url }}"><img src="{{ im.url }}" alt="" /></a>
            {% endthumbnail %}
        {% else %}
            <a href="{{ project.get_absolute_url }}"><img src="{% static 'img/default_project.jpg' %}" alt="" /></a>
        {% endif %}
            <div class="project_infos">
                <div class="project_views"><span class="label_views"></span>{{ project.views }}</div>
                <div class="project_pushs"><span class="label_pushs"></span>{{ project.likes.count }}</div>
            </div>
            <h3>
                <a href="{{ project.get_absolute_url }}">{{ project.title|slice:":23" }}</a>
            </h3>
        </a>
        {% if project.owner.user.id == user_id %}
        <a href="/project/edit/{{ project.id }}" class="edit-project"><i class="ico-edit"></i></a>
        {% endif %}
    </div>
{% endif %}