{% extends "layout/base.html" %}
{% load thumbnail %}


{% block title %} Project {{ slug }} {% endblock %}
{% block content %}



    {% if project %}

<div class="row project-header">
    <h2 class="project-title">{{ project.title }}</h2>
    <ul class="tags inline">
        {% for tag in tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>
</div>

<div class="row">
    <div class="threecol whitediv">
        <h2>{{ project.title }}</h2>
        <span>{{ project.publish_date }}</span>

        <div class="applicant_mini">
            <h3>{{project.owner.first_name}} {{project.owner.last_name}}</h3>
            <span>{{project.owner.profession}}</span>
        </div>

        {% if project.participant %}
        <ul>
        {% for applicant in project.participant.all %}
            <li> {{applicant.first_name}} {{applicant.last_name}} </li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if project.skills %}
        <h4>Compétences</h4>
        <ul class="tags inline">
        {% for tag in skills %}
            <li> {{ tag.name }} </li>
        {% endfor %}
        </ul>
        {% endif %}



        {% if project.equipments %}
        <h4>Equipements</h4>
        <ul class="tags inline">
        {% for tag in equipments %}
            <li> {{ tag.name }} </li>
        {% endfor %}
        </ul>
        {% endif %}

    </div>

    <div class="eightcol last whitediv">
        {{ project.content }}

        {% for img in project.images.all %}
            {% thumbnail img.image "200x100" crop="left" colorspace="GRAY" as im %}
                <img src="{{MEDIA_URL}}{{ img.image.url }}">
            {% endthumbnail %}
        {% endfor %}
    </div>
</div>
    {% endif %}
{% endblock %}
